[2020-02-04 14:37] sungam3r commented on #1520
`new SchemaPrinter(yourSchema).Print();`

[2020-02-04 14:52] simonbu11 commented on #1520
Perfect; that is exactly what I wanted. Thank you for such a quick reply too

[2020-02-04 14:52] #1520 closed

[2020-02-04 20:32] togakangaroo commented on #1310
I think I might agree with @floyd-may that while this isn't technically GraphQL's problem, the fact that it is such a common use case and a common issue might make sense for GraphQL to handle things in a single thread by default and have a well documented and caveated option to enable handling things in parallel.

The UnitOfWork issue is not a super minor one too. It is very reasonable when using

[2020-02-04 23:18] sungam3r commented on #1310
You **can** make execution serial or any you want by overriding `protected virtual IExecutionStrategy SelectExecutionStrategy(ExecutionContext context)`. I have already said that the execution of all requests sequentially **by default** will lead to unjustified delays. I also said that GraphQL is not tied to working with databases. **You look at the problem based on your narrow task and try to gen

[2020-02-05 07:23] mikelneo commented on #1310
We can use custom `ExecutionStrategy` for EF (and other EF-like scenarios).
For example create `ExecutionStrategyDirective` schema directive and apply it on fields that works with EF context. Like:
[code]
Then in `CustomExecutionStrategy` use this knowlage to resolve some fields not parallely.
Probably this `ExecutionStrategyDirective` can be part of `graphql-dotnet`.

[2020-02-05 09:04] sungam3r commented on #1310
To clarify previus comment - @mikelneo talks about #1451.

[2020-02-05 14:20] Shane32 commented on #1310
@mikelneo  PR #1376 is a bit off topic, but it does contain this type execution strategy, where you can tell certain fields to run in serial, and others in parallel.  Note that in an EF scenario with a single datacontext, it's often a bit pointless, as the resolvers that hit EF are set to run in serial, and the others don't contain an await and so run serially even if in a parallel execution strat

[2020-02-05 20:49] joemcbride commented on #1519
For this example:

Remove all these lines: https://github.com/graphql-dotnet/examples/blob/e127634f684470f1bcc7fa11e9912a7aee4ae9af/src/AspNetCore/Example/Startup.cs#L16-L24

Add this line:

[code]

For defining the Schema.

You would also have to write your own handler classes in the Schema First way (Query, Droid, etc.) as shown in the intro docs:

https://graphql-dotnet.github.io/docs/getting-s

[2020-02-05 21:54] TWry commented on #1519
Many thanks for your help. I've now been able to add the types and schema.

I'm still unclear though about the latter part concerning the handler classes. Could you please provide a minimalistic code snippet for this as well?

[2020-02-06 01:03] joemcbride commented on #1519
These are the "handler" classes, or, the classes which implement the Resolvers for each of your Fields on your Types.

[code]

[2020-02-06 12:22] sungam3r commented on #1449
Fixed by #1512 , thanks to @benmccallum .

[2020-02-06 12:22] #1449 closed

[2020-02-06 16:20] taimo42 opened #1521 "How to implement mutation provider classes"
I would like to create the mutation fields outside the mutation class, so that I can use DI to get all classes which implements e.g. IMutationFieldsProvider and then call a method to create the fields.

Here is my mutation class
[code]

And this is one of my mutation providers
[code]
When I thy this, I get the following error:
`MyMutation fields must be an object with field names as keys or a func

[2020-02-06 17:10] sungam3r commented on #1521
Did you try the latest preview version?

[2020-02-07 08:07] RedEyedDog commented on #1517
Hi sorry for the late reply.. the answer was, i wasn't passing the IDependencyResolver to the base schema.. which meant it couldn't use it to resolve the field types

[2020-02-07 08:07] #1517 closed

[2020-02-07 08:16] RedEyedDog opened #1522 "How to resolve the InputGraphType to correct domain type"
## Summary
I need to take the inputtype and build the correct domain class to save
## Relevant information
Lets say i have a

[code]
What is the best way of getting the CreateActionInputtype  to resolve to the domain class?
The resolver on the CreateActionGraphInputType.References dosent work like i excpected .i.e when the converter finds a property of the same name it dosent call resolve..

### E

[2020-02-07 08:32] taimo42 commented on #1521
Thank you for the fast reaction.

I was checking my code again and tried several things.
At the end it turned out, that there was an issue with the DI. I was not registering `MyMutationsProvider` in the right way. I managed to fix this. Now it is working as expected.

**So this was not an issue with GraphQl. Sorry for the inconvenience.**

I'm in general very happy with this library. But I'm also

[2020-02-07 08:32] #1521 closed

[2020-02-07 08:46] sungam3r commented on #1522
It seems that you are looking for `ResolveFieldContext.GetArgument<T>("name")` method.

[2020-02-07 08:54] sungam3r commented on #1521
You may find that in fact the latest preview versions are even more "stable" than 2.4.0, also a bunch of useful features were implemented since 2.4.0 release. I myself use the latest previews in production for a long time.

[2020-02-07 09:03] RedEyedDog commented on #1522
Really what i want to do is:

[code]

i want to get rid of the need for DTOs.. so i don't want to ```
have to create a CreateActionInput {
public String Name {get;set;}
public String Description {get;set;}
public List<int> References {get;set;}
}
[code]

[2020-02-07 09:11] sungam3r commented on #1516
Closed as resolved.

[2020-02-07 09:11] #1516 closed

[2020-02-07 09:19] sungam3r commented on #1148
Fixed by #1512 , thanks to @benmccallum.

[2020-02-07 09:19] #1148 closed

[2020-02-07 09:20] sungam3r commented on #1143
So... closing this one.

[2020-02-07 09:20] #1143 closed

[2020-02-07 09:37] sungam3r commented on #1146
@johnrutherford After working on #1441 it seems to me that your proposal is useful. Indeed, it saves a number of `Task<T>` allocations and makes some internal code a little easier. The only thing I don't like is the need for customers to rewrite all of their resolvers. Moreover, they may not even notice that they need to change the code by assigning the `Result` property. As a result, resolvers wi

[2020-02-07 09:42] sungam3r commented on #1522
Do you mean you want to "deserialize" input argument into your Input**GraphType**, not InputDTO ?

[2020-02-07 09:47] sungam3r commented on #1522
If so actually you **can** since `GetArgument<T>` api from _master_ looks like that:
[code]

Thus you can "deserialize" input argument in any type you want. The main thing is that in this type there are properties that are writable with the corresponding names.

[2020-02-07 09:57] RedEyedDog commented on #1522
I did think that, but there is an issue with having the same property names as on the ObjectGraphType,  Name for example is already on the ObjectGraphType? i know it will get overwritten but will this have side effects?

What would be nice is something like this:

[code]

[code]
[code]

When the de-serialise comes to the BoardCards property, if it cant straight convert it, then it should call the

[2020-02-07 13:55] sungam3r commented on #1522
Although I told you that you _can_ deserialize an input argument into a InputGraphType, it’s not worth it. GraphTypes are designed to solve their problems, and for arguments it is better to use DTOs.

Of course. Changing the GraphType name in runtime leads to unpredictable consequences.

Unfortunately, this is a common topic for misconceptions. For input types, resolvers are not called. See #1358,

[2020-02-07 13:57] sungam3r commented on #1522
GraphTypes describe the schema, they are metainformation that should not change.

[2020-02-07 14:17] andrewpaulicek commented on #1458
I would also like to ask @joemcbride if there are any plans on making `GraphQL.NewtonsoftJson` with async writing capabilities.

Thanks!
Andrew

[2020-02-07 14:34] RedEyedDog commented on #1522
would you suggest its better to create  BoardCardInputGraphType with a CardId Field which could be resolved to a BoardCard.. this way you dont need the DTO but you do need an extra graphtype. It acts like a DTO and exposes that property as a leaf on the graph?

P.S i hope i have the correct terminology ;)

[2020-02-07 14:41] RedEyedDog commented on #1522
Like this

[code]

Makes the query a bit more cumbersome but it works

[2020-02-07 15:38] sungam3r commented on #1522
I suggest to not use graphtypes in getargument api at all.

[2020-02-07 15:39] sungam3r commented on #1522
No.

[2020-02-07 19:02] Shane32 commented on #1146
Just firing from the hip here, but I really don't like the idea that the Resolve function would expect the consumer to store the result inside context.Result.  Sorry to be so negative, but it seems like a complete anti-pattern if I ever saw one.  If the design were to change, I would strongly consider renaming the Resolve method so it more accurately reflects the operation -- e.g. `SetResultAsync`

[2020-02-07 22:45] sungam3r commented on #1146
As a rough example:

[code]

vs

[code]

The point is that we untie the function of waiting for the result from the function of storing the result inside of `Task<T>` (no result boxing).

In general, I want to say that I am skeptical about such optimizations, since with an unknown (minimal) gain they raise a lot of questions. If we are already engaged in optimizations, then there are many other pl

[2020-02-08 00:26] Shane32 commented on #1146
I get the concept, but your first sample isn't valid code.  Within an `async` function, you cannot return a `Task<T>` -- you return the value and the framework boxes it if necessary.  `Task.FromResult` is only used in **synchronous** functions that return a `Task<T>`.  And if it was a synchronous function, they should just return the value instead of a boxed value from the resolver.  Further, in t

[2020-02-08 00:40] Shane32 commented on #1146
I just checked -- it definitely does not save an object creation between the two sample code snippets above (assuming the syntax error was fixed in the first sample) -- even if the GetStringAsync function returns synchronously.

[2020-02-08 00:56] Shane32 commented on #1146
Scratch that... the compiler DOES do some optimizations when GetStringAsync runs synchronously.  So as long as the await chain runs synchronously, it is possible to save an object creation.

[2020-02-08 05:50] sungam3r commented on #1146
I know. It was an unsuccessful attempt to demonstrate what was happening (boxing).

[2020-02-08 05:54] sungam3r commented on #1146
I know. It was an unsuccessful attempt to demonstrate what was happening (boxing).

[2020-02-08 05:58] sungam3r commented on #1146
Nevertheless, it seems to me that we have shifted our focus to optimization. The primary intention of this issue was to simplify the design itself, in order to do less manipulation with `Task/dynamic`. I think it’s worth doing PR and see what happens. We will see whether the code has become simpler or if significant changes have been required on the caller, which have hidden all the benefits. In a

[2020-02-08 06:00] sungam3r commented on #1146
@Shane32 Would you like to make PR?

[2020-02-08 06:02] Shane32 commented on #1146
Sounds like fun. If I have time this weekend I’ll do it.

[2020-02-08 06:05] Shane32 commented on #1146
But we probably need a relevant benchmark since I’m guessing introspection doesn’t use async fields. Perhaps a couple variations of the hero query will do ?  Guess I’ll cross that bridge when I come to it

[2020-02-08 07:21] sungam3r commented on #1146
Of course, you can make special schema for this test with relevant async/sync resolvers to compare results.

[2020-02-09 09:44] RedEyedDog commented on #1522
Ok thanks for your help. I feel this could be a DTO killer for some apps. Just need to resolve properties independently etc querying works fine but feel the mutations need improving to be Abit more flexible.

[2020-02-09 09:44] #1522 closed

[2020-02-09 09:44] RedEyedDog commented on #1522
P.s if you could guide me on how to get started I'd love to contribute

[2020-02-09 09:49] RedEyedDog opened #1528 "Moved graph types to class library and now it's broke"
## Summary
Hey... I recently moved my graphql types to a classlibary and now my app can't resolve them?

I've referenced them etc and the only way to get it to carry-on is to add to serviceprovider.. is that right?

## Relevant information

### Environment (if relevant)

[2020-02-09 11:36] sungam3r commented on #1528
How do you register them in DI ?

[2020-02-09 11:37] sungam3r commented on #1528
If you use `AddGraphTypes` extension then make sure that you use correct `typeFromAssembly` parameter.

[2020-02-09 11:40] sungam3r commented on #1522
Get started for what exactly?

[2020-02-09 11:44] RedEyedDog commented on #1528
When it was working before in same project I had only added my schema to the DI and all worked.. it found the graphtypes and I didnt need to register anymore.

[2020-02-09 11:49] RedEyedDog commented on #1522
I feel like I want to contribute to this repo.. and understand Abit more under the hood. I'd like to look at how it resolves the input types ;) i should be able to figure it out if im pointed in the right direction

[2020-02-09 13:28] sungam3r commented on #1528
Maybe you use `DefaultServiceProvider` which can resolve only types with default ctor. Show your configuration and package version.

[2020-02-09 13:33] sungam3r commented on #1522
Well, the thing is that input types do not resolve in any way. Resolvers are called only for output types. And in input types they are only because input and output types are inherited from a common base class. This can be considered a design flaw. You may look to `ExecutionStrategy` class, `CollectFields` method.

[2020-02-09 14:01] RedEyedDog commented on #1528
My class libary is netstandard 2.1 using GraphQl 2.4.0. My server is a netcoreapp3.1 using

[2020-02-09 14:19] sungam3r commented on #1528
1. You register `FuncDependencyResolver` so it delegates resolve to `IServiceProvider`. If the problem exists then on your side. Watch how you register types in your code.
2. I advise you to install the latest preview version of `GraphQL.Server.Transports.AspNetCore` and UI packages. GraphQL 2.4.0 is rather old, a lot of bugs were fixed since then.

[2020-02-09 14:55] RedEyedDog commented on #1528
Ok thanks.. got it all working. Thank fully i just needed to do this:

`AddGraphTypes(typeof(MiViewSchema), ServiceLifetime.Scoped)
`
I've also updated to the latest version etc.

Thanks for all your help.

[2020-02-09 14:55] #1528 closed

[2020-02-09 15:03] sungam3r commented on #1466
Closed due to inactivity. @fogzot Feel free to reopen if you continue to have problems with this.

[2020-02-09 15:03] #1466 closed

[2020-02-09 15:05] sungam3r commented on #1280
@DavidKuennen I hope you could solve the problem.

[2020-02-09 15:05] #1280 closed

[2020-02-09 15:08] #1126 closed

[2020-02-09 15:12] sungam3r commented on #1092
@MagenicJB I hope you already solved the problem.

[2020-02-09 15:12] #1092 closed

[2020-02-09 15:13] sungam3r commented on #1016
Closed due to inactivity.

[2020-02-09 15:13] #1016 closed

[2020-02-10 15:50] TWry commented on #1519
Ok, got it now, many thanks again.

Now, I'm sorry to have to ask another follow-up question , but I can't figure out how to hook up a store or dataloader to the query/schema. Could you explain how dependency injection works in this case?

[2020-02-11 22:07] Shane32 opened #1531 "New preview release on nuget"
@joemcbride Could we have a new preview release on nuget?  The current preview release is about 3 months old and doesn't contain #1441 .

If there's a chance that #1511 will be merged (or reviewed) soon, I'd be happy to wait for that.

I'd also like to suggest that the commit be tagged within github so it's easy to find the commit used to build this preview version, similar to how the 2.0 prerelea

[2020-02-11 22:52] sungam3r commented on #1531
Blocked by graphql-dotnet/server#299 as core packages must be in sync with server packages.

[2020-02-12 14:58] dillanmann opened #1532 "Subscriptions in .NET Framework"
## Summary
Are there any examples or efforts available to enable subscriptions on .NET Framework? All of the GraphQL middleware for WebSockets and subscriptions is written with ASPNET Core in mind and is not transferrable to .NET Framework. This unfortunately means that it looks like it's not possible to use subscriptions with GraphQL.net in NFX.

Any info would be great, thanks.

## Relevant info

[2020-02-12 19:30] sungam3r commented on #1532
This is transport agnostic package. It is worth posting that issue to the server project.

[2020-02-12 21:48] dillanmann commented on #1532
Will do, thank you!

[2020-02-12 21:48] #1532 closed

[2020-02-13 11:25] noufionline opened #1534 "Input type with RowVersion is not working"
## Description

I  want to update a small table which has Timestamp column.

### Steps to reproduce

[code]

### Expected result

Saves and returns the saved entity

What should happen?

### Actual result

Error:

GraphQL.ExecutionError: Input string was not in a correct format.
 ---> System.FormatException: Input string was not in a correct format.
   at System.Number.ThrowOverflowOrFormatExcepti

[2020-02-13 11:38] pekkah commented on #1534
You need a custom scalar type for byte[].

[2020-02-13 11:43] noufionline commented on #1534
@pekkah
I understand and created a custom scalar type as well. But there is already a ByteGraphType included so its not allowing me to register my custom one.

[code]

[2020-02-13 12:08] carlwoodhouse commented on #1531
is there any plans to have a new stable release at any point soon, or at least a milestone for it ? .. last one was 2018 heh (is it the 3.0 milestone ?)

[2020-02-13 13:22] noufionline commented on #458
How can I convert byte[] ?
I have a Timestamp column in SQL Server which is a byte[] in c#. I am not able to convert it. Can you help?

[code]

I am getting the following error

GraphQL.ExecutionError: Cannot convert value to AST: System.Byte[]
 ---> GraphQL.ExecutionError: Cannot convert value to AST: System.Byte[]
   at GraphQL.GraphQLExtensions.AstFromValue(Object value, ISchema schema, IGraphT

[2020-02-13 14:26] sungam3r commented on #1534
@noufionline Please show your request text on server side, after client did all transformations.

[2020-02-13 14:30] sungam3r commented on #1534
You can post another issue about overwriting built-in .NET scalar types.

[2020-02-13 14:35] sungam3r commented on #1531
Now many PRs have backward incompatible changes and affect more than one repository. Even if we assume that a stable version will be released soon, then with 100% probability the next change will require a transition to the long time development of version 4. I want to say that releasing a "stable" version without a preview suffix does not really make it stable.

[2020-02-13 14:36] sungam3r commented on #1531
What prevents the use of version previews? I understand that there is only a psychological barrier.

[2020-02-13 15:32] Shane32 commented on #1531
When there are multiple third party extensions for a framework, there's a very real benefit, as it allows for certain points in time for everyone to upgrade their extensions to the new version.  Otherwise if one extension was built for preview 1352 and another for 1195, it's very possible that they could not be used together.  Not all third party developers wish to spend the resources required to

[2020-02-13 16:00] noufionline commented on #1534
Finally I managed to solve it!

[code]

Any suggestions or improvements please feel free to post it here

[2020-02-13 16:19] carlwoodhouse commented on #1531
All of the above; especially re publication of breaking changes, etc

and even in terms of discover-ability; most people aren't going to find/update to preview versions; or corporate policy may prevent them from using them!

[2020-02-13 17:49] sungam3r commented on #1534
Honestly, you solved the problem in a completely different way than you should have.

@noufionline Please show your request text on the server side, after client did all transformations.

[2020-02-13 17:52] stubbz commented on #1169
My team is also interested in support for this.

[2020-02-13 17:58] sungam3r commented on #1531
Anyway, I do not have access to publish this package to nuget. @joemcbride can do this.

[2020-02-13 20:33] noufionline commented on #1534
Hi @sungam3r

[code]

[2020-02-13 21:38] sungam3r commented on #1147
Fixed in #1533

[2020-02-13 21:38] #1147 closed

[2020-02-13 22:12] sungam3r commented on #1534
What version do you use? Please first try the latest preview.

[2020-02-14 05:02] noufionline commented on #1534
@sungam3r
On the server I am using the following versions

GraphQL Version=3.0.0-preview-1352
GraphQL.Authorization Version=3.0.39-preview-39
GraphQL.Server.Transports.AspNetCore Version=3.5.0-alpha0027
GraphQL.Server.Transports.WebSockets Version=3.5.0-alpha0027
GraphQL.Server.Ui.GraphiQL Version=3.5.0-alpha0027
GraphQL.Server.Ui.Playground Version=3.5.0-alpha0027

Client side :
GraphQL.Client Ve

[2020-02-14 07:56] BenjaBobs commented on #1531
Maybe some automatic CD should be setup for the master branch?

[2020-02-14 09:29] TWry opened #1536 "Schema first approach and dependency injection"
I'd like to use the schema first approach in my project. I am struggling to use dependency injection though.

I found a [gist](https://gist.github.com/joemcbride/2632fd81fabe87cff8a71377058863b5) that shows how to enable it by setting `new FuncDependencyResolver(type => container.Get(type))` on the SchemaBuilder passed when creating the schema using `Schema.For`. This solution, however, does not s

[2020-02-14 09:40] sungam3r commented on #1536
https://github.com/graphql-dotnet/graphql-dotnet/blob/12a2f078243e300ebb3293656c01cfb107cb18ed/src/GraphQL/Utilities/SchemaBuilder.cs#L19 initialize this property

[2020-02-14 09:54] TWry commented on #1536
Thanks for the hint. What do I need to initialize it with, assuming the use of the default MS DI container?

I would like to use constructor injection in the handler classes for each type. This would enable me to connect to a data source which I can change easily in Startup.cs.

[2020-02-14 09:58] sungam3r commented on #1536
Initialize it just as you do before - `new FuncDependencyResolver(type => container.Get(type))`

[2020-02-14 10:15] TWry commented on #1536
`FuncDependencyResolver` is not defined anywhere as it seems. I thought it was defined in a prior version of GraphQL, wasn't it?

[2020-02-14 10:38] TWry commented on #1536
`services.BuildServiceProvider();` seems to work. Thanks!

[2020-02-14 10:39] #1536 closed

[2020-02-14 10:39] sungam3r commented on #1536
You can use `FuncServiceProvider` with latest versions.

[2020-02-14 10:40] sungam3r commented on #1536
I do not advise you to call `services.BuildServiceProvider()` on your own.

[2020-02-14 10:42] TWry commented on #1536
Ok, so what version do I need to use `FuncServiceProvider`? I currently have `3.0.0-preview-1352` installed.

[2020-02-14 11:15] sergeykotelnikov78 commented on #1020
The problem is actual.
In our project we use the follow workaround:
1) Added
[code]
2) In ExecutionOptions added collection of IFieldMiddleware instances to FieldMiddleware property:
[code]

So we use DI to init all field middlewares with their dependencies.

I think it or the similar should be add to the library.

[2020-02-14 12:09] TWry commented on #1536
I hate to ask again, but I can't figure it out. How would I initialize it in `ConfigureServices`?

`services.AddSingleton<ISchema>(s => Schema.For("type Query { hello: String}",  _ => {
      _.Types.Include<Query>();
      _.ServiceProvider = new FuncServiceProvider( ??? );
  });`

[2020-02-14 13:16] TWry commented on #1536
For the record - I ended up with this:

`            services.AddSingleton<ISchema>(provider => Schema.For("type Query {hello: String}", _ =>
            {
                _.Types.Include<ResolverQuery>();
                _.ServiceProvider = new FuncServiceProvider(provider.GetService);
            }));
`

[2020-02-14 14:15] sungam3r commented on #1536
Right.

[2020-02-15 05:40] sungam3r commented on #1020
It seems to me that the middleware mechanism no longer makes sense to change a lot. Yes, they are global. If you need to locally change the behavior for individual fields, it is easier to use directives. We can say that the directives are something like _local middlwares_.

[2020-02-15 06:07] sungam3r commented on #1020
Nevertheless, I am sure that the middlewares should receive DI support.

[2020-02-15 20:35] sungam3r commented on #1020
@sergeykotelnikov78 Please look at #1537 . I hope this is what you need.

[2020-02-16 06:34] noufionline commented on #1534
I have gone a bit further with my experiments.

When I debug I can see that Built in ByteGraphType receives rowversion (byte[]) as List<object> and conversion fails. So I modified the code this way.

[code]

[2020-02-16 07:26] sungam3r commented on #1534
@noufionline No one `ScalarGraphType` needs to receive/handle arrays. There is something wrong with how you configure your schema. Please check [`ScalarsInputTest`](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL.Tests/Bugs/ScalarsInputTest.cs). There are many properties of arrays of primitive types, compare with your configuration.

[2020-02-16 08:36] noufionline commented on #1534
@sungam3r
Thanks for your help. I followed your instruction and checked the ScalarsInputTest.

Now Server side is working perfectly with graphql playground. But on the client side row version is getting converted to Base64String while sending to the server I guess.

[code]

Error:

GraphQL.ExecutionError: Input string was not in a correct format.
---> System.FormatException: Input string was not i

[2020-02-16 10:27] sungam3r commented on #1534
I'm glad that you localized the problem and it is not on the server side.

[2020-02-16 10:28] noufionline commented on #1534
@sungam3r
Sorry for the confusion caused.

[2020-02-16 10:57] sungam3r commented on #1534
Not related to this project, see graphql-dotnet/graphql-client#163

[2020-02-16 10:57] #1534 closed

[2020-02-17 08:01] kapiljain-128 opened #1542 "Custom scalars that are parsed as null for non null inputs throw"
## Summary
I've implemented a custom scalar which needs to be parsed as null if an empty string is provided by the client for it in a mutation. However, this doesn't work because of the following code which asserts that the value of a scalar field after parsing is correct and is treating the null value that the parser of my custom scalar returns as invalid.

https://github.com/graphql-dotnet/graph

[2020-02-17 08:08] pekkah commented on #1542
At least in the example the field is marked non null. Have you tried making it nullable?

[2020-02-17 08:11] kapiljain-128 commented on #1542
Yes, even if the field is marked nullable it still throws the same exception.

[2020-02-17 08:12] pekkah commented on #1542
Yep, looks like a bug to me.

[2020-02-17 08:17] kapiljain-128 commented on #1542
Attaching mutation query/variables and output:

Query:
[code]
Variables:
[code]
Output:
[code]
Expected output:
[code]

[2020-02-17 21:32] JoeEager commented on #1293
Is there an example of this?  I'm looking to use the parent value to retrieve a subvalue

ParentA {
   ParentId
   ChildB {
      Value1 //Changes based on ParentId
   }
}

[2020-02-17 23:33] Shane32 opened #1545 "DefaultFieldNameConverter question"
@sungam3r I'm trying to understand the `DefaultFieldNameConverter` and `PascalCaseFieldNameConverter`.  It appears to only apply camel case to "instrospection types".  However, this is searching a private fixed array, always containing a single static type `SchemaIntrospection`.  As a private array, it can't be changed.  And static types can't be created.  Am I missing something or does this make

[2020-02-18 06:34] sungam3r commented on #1545
You have the same question that I once had. In fact, everything is simple - the **parent** type is checked. And the converter is applied to **child** fields. Also look into `GraphTypesLookup`:
[code]

[code]

[2020-02-18 12:56] Shane32 commented on #1545
Thanks. I felt it must have made sense somehow but couldn’t figure it out!

[2020-02-18 13:30] sungam3r commented on #1146
I propose to close this issue and the associated PR as `wontfix`.

[2020-02-18 13:48] Shane32 commented on #1545
But ... the introspection types start with `__` -- so this code still actually does nothing, right???

[2020-02-18 14:51] bgoerdt opened #1546 "GraphQL.SystemTextJson not published"
## Description

The GraphQL.SystemTextJson package is referenced in the README, but it doesn't look like it is published to Nuget

[2020-02-18 15:07] sungam3r commented on #1546
It is a known issue. You can get preview versions from myget feed. @joemcbride could you please push this to nuget or give me permissions to do this myself?

[2020-02-18 15:14] sungam3r commented on #1545
Why nothing?

[2020-02-18 15:57] Shane32 commented on #1545
The `Name` property of `SchemaMetaFieldType` is set to `"__schema"`.  `HandleField` passes the parent type and the `Name` property of the field to the `IFieldConverter`.  If this then ran this through `StringExtensions.ToPascalCase` (it doesn't currently), it would grab the first character and try to capitalize it.  The first character is `'_'`.  So it would return the original string `"__schema"`

[2020-02-18 16:32] Shane32 commented on #1545
Maybe there's more I'm not seeing.  I'll run some tests.

[2020-02-18 16:53] sungam3r commented on #1545
I think I understood your question.

First, you confuse the parent field and the child field. The converter converts the names of child fields, for example `types`, `args`. However, the current code indeed can be simplified because all introspection fields are lowercase:
[code]

and

[code]

[2020-02-18 16:56] sungam3r commented on #1545
The basic idea is not to affect the name of the introspection fields so I think you are right that code into `DefaultFieldNameConverter` does nothing although it seemed to me your explanation was not entirely true.

[2020-02-18 16:57] Shane32 commented on #1545
Making more sense now.  I tried switching to the PascalNameConverter but the default json writer in DocumentWriter is forcing the result to camelcase.  Is this an error?

[2020-02-18 16:57] Shane32 commented on #1545
Or is that expected behavior?

[2020-02-18 17:13] Shane32 commented on #1545
I'm still researching; I'll figure it out.

[2020-02-18 17:44] sungam3r commented on #1545
`DocumentWriter` is "external" component with additional "formatter" function. You **can** configure it as you want. Yes, by default we forced the result to camelCase.

[2020-02-18 17:46] sungam3r commented on #1545
So in other words if you want to have PascalCase you should enable this on two levels - schema and document writer.

[2020-02-18 17:55] sungam3r commented on #1545
By the way, I think that it was wrong to convert introspection field names to lowercase (even with no effect). The point is that the names of these fields should not change and no matter what their original name is. So I think that `CamelCaseFieldNameConverter` should be changed too to follow this pattern. And of course (as you might have already guessed) all these discussions should be noted in t

[2020-02-18 18:07] Shane32 commented on #1545
I think I found my answer.  The `GraphTypesLookup` constructor runs before the `GraphTypesLookup.FieldNameConverter` property is set, so all the introspection fields always get configured with the `CamelCaseNameConverter` (the default value of `GraphTypesLookup.FieldNameConverter`), no matter how `Schema.FieldNameConverter` or `ExecutionOptions.FieldNameConverter` is set.

I've proven this by thre

[2020-02-18 19:05] sungam3r commented on #1545
Well, OK, this does not change the essence of the matter - `CamelCaseFieldNameConverter` does nothing with introspection fields.

[2020-02-18 19:53] Shane32 commented on #1545
Found one bug: `GetArgument`, used within some introspection types, does not work with pascal case due to it transforming the argument name to pascal case, which is incorrect for the introspection types.  Posting a PR for it.

[2020-02-18 20:36] bgoerdt opened #1548 "Error with Union _Entity when trying to use FederatedSchema"
## Description

When trying to setup a Federated Schema, I am getting the following error:
[code]

### Steps to reproduce
Startup.cs (some details removed)
[code]

### Expected result

Should be able to successfully start the API and get data back.

### Actual result

I am getting an error on every request.

### Environment
[code]

[2020-02-18 21:53] bgoerdt commented on #1548
I created a completely stripped down version of the project to try to figure out what is going on. I found out that a federated graph will throw the above error if there is not a type that uses the `@key` directive in the schema. Once I added a type with the `@key` directive it started working. I'm guessing this has something to do with how the union type is built in the [FederatedSchemaBuilder.Bu

[2020-02-19 05:45] joemcbride commented on #1531
CD is setup on the master branch, but it purposefully does not auto-publish to nuget.org due to the number of packages.  Just in January-Feb there would be roughly 50 different versions.

It has always published every package to the MyGet feed, listed in the [README](https://github.com/graphql-dotnet/graphql-dotnet#installation).

[These have been the 3.0 milestones](https://github.com/graphql-dot

[2020-02-19 05:54] joemcbride commented on #1531
I believe I got all of the latest packages published to nuget.org.  Let me know if I missed one.

[2020-02-19 06:37] Shane32 commented on #1531
@joemcbride  Thanks !!

[2020-02-19 06:38] #1531 closed

[2020-02-19 07:05] sungam3r commented on #1531
@joemcbride I completely agree with you regarding CD and a lot of preview packages and this one

I am sure that for a long time we will not release version 3. I'm not a pessimist, my experience just says that. therefore, I don’t see a better solution in just once a few months to publish the latest preview packages on nuget, as you did. Thanks.

[2020-02-19 07:07] Shane32 commented on #1531
I’d like to work on the release notes and upgrade documentation so we can get version 3 released. I’m just not sure when I’ll have the time so didn’t want to commit to it yet.

[2020-02-19 20:30] bgoerdt commented on #876
@baig316-adfenix can you post an example of how to do custom input types with schema-first?

[2020-02-20 12:25] dirkesquire commented on #1546
The following works for the time being:
`dotnet add package GraphQL.SystemTextJson -v 3.0.0-preview-1490`

[2020-02-20 12:26] dirkesquire commented on #1148
I tried copying the code from GraphQL.Harness.GraphQLMiddleware to switch to using System.Text.Json, and I read the README but I keep getting: `System.Text.Json.JsonException: '0x0A' is invalid within a JSON string. The string should be correctly escaped.`
This was working perfectly fine with Newtonsoft.Json, but obviously I am trying to transition off of that. Have any of you come across this by

[2020-02-20 14:20] sungam3r commented on #1546
Published.

[2020-02-20 14:20] #1546 closed

[2020-02-20 14:23] sungam3r commented on #1148
I think you have "malformed" json text. S.T.J is very strict about allowed characters. Newtonsoft.Json in this respect allows more freedom. Look into incoming request text (logs).

[2020-02-20 14:27] dirkesquire commented on #1148
Thanks so much. I'll look into that. I'm reading data straight from Microsoft.EntityFramework 3.1.2 (from a Azure SQL database). so I I'm not sure what would possibly be malforming it. ```0x0A``` appears to be a newline character apparently. I don't see any JsonSerializerOptions regards to new lines unfortunately.

[2020-02-20 14:37] sungam3r commented on #1148
It is not something handled by `JsonSerializerOptions`. See https://stackoverflow.com/questions/42068/how-do-i-handle-newlines-in-json

[2020-02-22 00:51] sungam3r commented on #1146
It's time.

[2020-02-22 00:51] #1146 closed

[2020-02-23 08:37] fenomeno83 opened #1560 "Get requested fields"
Hi.
In node version you can access to "info" field of GraphQLResolveInfo, to get what fields are requested in query.

How can you do in graphql .net core?
It can be usefull to decide what sql queries I need to do to resolve all requested fields.

Thanks

[2020-02-23 08:40] sungam3r commented on #1560
`IResolveFieldContext.SubFields`, `IResolveFieldContext.Path`

[2020-02-23 08:45] fenomeno83 commented on #1560
Can you give me example?

This is a my test query

public class TestGroupQueries : ObjectGraphType
    {
        public TestGroupQueries(ITestOperations testOperations)
        {
            Name = "testQueries";

            FieldAsync<StringGraphType>(
            "test",
                resolve: async context => await testOperations.Test<object>());

        }
    }

How can I get query request

[2020-02-23 08:47] sungam3r commented on #1560
`context.SubFields`

[2020-02-23 08:48] sungam3r commented on #1560
or `context.Document` in case of the whole query text

[2020-02-23 13:59] #1020 closed

[2020-02-23 14:48] #1545 closed

[2020-02-23 21:09] sungam3r commented on #923
@drowhunter Also documentation for Field Middleware was updated, see https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/field-middleware.md

Closing this as resolved.

[2020-02-23 21:09] #923 closed

[2020-02-23 21:56] ztrobinson777 opened #1562 "Current recommendation for implementing GraphQL.Net with Entity Framework"
## Summary
So there's a lot of discussion about how to deal with the dependency injection scoping of GraphQL.Net and Entity Framework with many different suggestions of various age.

In the project that I'm currently working on, I have been running with a service locator for using the EF dbContext in resolvers and it works, but there's so much documentation out there suggesting that this pattern s

[2020-02-23 22:19] sungam3r commented on #1562
For all three questions you will get different answers from different people, there is no single ideal solution. Relates to #1310

[2020-02-24 04:51] ShadyNawara opened #1565 "Problem with Data loaders in federation resolvers"
## Summary
I have been trying to use dataloaders with the apollo federation but something doesnt seem to be working right.
Here is my implementation so for

[GraphQLController]
[code]
[startup.cs]

[code]
so everything works just fine with the federation when using the simple "store.GetBazById(id);"
but with the data loaders, the "store.GetBazzesByIdAsync" would get called with the first id, then

[2020-02-24 05:14] Shane32 opened #1566 "Remove pattern-based middleware"
@sungam3r  We discussed removing pattern-based middleware previously, and the thought was that we were trying to maintain compatibility with older third-party middleware libraries.

I've been working on the upgrade guide, and realized that middleware designed for 2.x will not work with 3.0 due to the signature of the Resolve method having changed (`ResolveFieldContext` changed to `IResolveFieldCon

[2020-02-24 06:15] Shane32 commented on #1566
`FieldMiddlewareDelegate` also changed, again due to `IResolveFieldContext`, so in order to maintain backwards compatibility, we would also need to be sure the `next` parameter has the correct signature.  I'm not sure if we need to retain the name of `FieldMiddlewareDelegate` or if we can simply use a `Func<ResolveFieldContext, Task<object>>` for older compiled code to interoperate.

For reference

[2020-02-24 08:08] sungam3r commented on #1566
I was expecting this issue. Well, let's go ahead and get rid of the pattern-based case.

[2020-02-24 09:06] sungam3r commented on #964
@OpenSpacesAndPlaces could you check again with the latest preview? #1284 is likely will indicate the cause of the error.

[2020-02-24 09:19] fenomeno83 commented on #1560
thanks!

[2020-02-24 13:31] sungam3r commented on #1290
I myself came across a misunderstanding of this API. My work colleagues are similar. So I think we can split this method into two.

[2020-02-24 15:18] Shane32 commented on #1566
Do you want me to write a PR or do you want to?

[2020-02-24 15:19] sungam3r commented on #1566
PR is welcome.

[2020-02-24 15:46] sungam3r commented on #1290
Relates to #1567

[2020-02-24 20:00] bgoerdt opened #1569 "Empty array in input type throws error"
## Description

An input type that has an empty array is causing an exception while validating the document in the latest version of the packages. This was working when using GraphQL version 3.0.0-preview-1352, but it is not working when I upgraded to 3.0.0-preview-1490.

The exception is:
[code]

### Steps to reproduce

Here is a basic console application example:
[code]

### Expected result

The

[2020-02-24 20:56] sungam3r commented on #1569
Many thanks for test example. Fixed.

[2020-02-24 21:02] #1569 closed

[2020-02-24 21:11] bgoerdt commented on #1569
No problem! Thanks for the quick fix!

[2020-02-25 06:39] sungam3r commented on #959
Done with the latest changes. See README and new packages : GraphQL.NewtonsoftJson and GraphQL.SystemTextJson.

[2020-02-25 06:39] #959 closed

[2020-02-25 06:41] sungam3r commented on #1099
Closed as resolved.

[2020-02-25 06:41] #1099 closed

[2020-02-25 06:44] sungam3r commented on #1218
Closed as resolved.

[2020-02-25 06:44] #1218 closed

[2020-02-25 06:45] sungam3r commented on #1220
Closed as resolved.

[2020-02-25 06:45] #1220 closed

[2020-02-25 06:47] sungam3r commented on #1228
Closed as resolved. The latest versions of packages are periodically published on nuget.

[2020-02-25 06:47] #1228 closed

[2020-02-25 06:49] sungam3r commented on #1326
I will be grateful if someone can contribute. @Shane32 ?

[2020-02-25 06:52] sungam3r commented on #1346
@dietergoetelen Now FieldMiddleware supports DI and scopes. See [documentation](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/field-middleware.md).

[2020-02-25 06:52] #1346 closed

[2020-02-25 06:54] sungam3r commented on #1458
Relates to #1321

[2020-02-25 07:22] sungam3r commented on #1358
@jsp-up looking through old tasks i found that i already fixed this in #1107. Will be merged soon.

[2020-02-25 07:26] sungam3r commented on #1365
Closed as answered.

[2020-02-25 07:26] #1365 closed

[2020-02-25 07:28] sungam3r commented on #1367
@J-kit Will you continue to work on this PR ? It will be a useful feature.

[2020-02-25 07:33] sungam3r commented on #1344
Done in #1462.

[2020-02-25 07:33] #1344 closed

[2020-02-25 07:34] J-kit commented on #1367
Oh, didn't knew it was that important to this project, it sounded a bit like "ehh whatever", so i didnt prioritize it much 😅

[2020-02-25 07:34] sungam3r commented on #979
Fixed in #1462 .

[2020-02-25 07:34] #979 closed

[2020-02-25 07:35] sungam3r commented on #1131
@bppn Is this issue still actual for you?

[2020-02-25 07:37] sungam3r commented on #1135
@danleydmello Is this issue still actual for you?

[2020-02-25 07:38] sungam3r commented on #1162
@mimescua Is this issue still actual for you?

[2020-02-25 07:41] sungam3r commented on #1174
@katrinamsnyder The problem was that the graph types had the same name. This is fixed. Now a shems cannot be created with such types. You can try the latest preview.

[2020-02-25 07:41] #1174 closed

[2020-02-25 07:42] sungam3r commented on #1181
It's time to close this as wontfix.

[2020-02-25 07:42] #1181 closed

[2020-02-25 07:44] sungam3r commented on #1006
@W2K Is this issue still actual for you?

[2020-02-25 07:45] sungam3r commented on #495
It would be nice if someone contribute.

[2020-02-25 07:49] sungam3r commented on #777
@Shane32 you said you were working on documentation and migration guide. Could you help with this?

[2020-02-25 07:52] sungam3r commented on #906
Fixed. Now all input and output types are checked when the schema is built.

[2020-02-25 07:52] #906 closed

[2020-02-25 11:31] sungam3r commented on #512
Agree. `Document` can be null or caller side may set in to some cached instance. `options.Query` is required while `options.Document` is optional.

[2020-02-25 11:31] #512 closed

[2020-02-25 11:38] sungam3r commented on #549
May be related to graphql/graphql-spec#215

[2020-02-25 11:38] sungam3r commented on #549
@FrederickBrier Is this issue still actual for you?

[2020-02-25 11:42] #1287 closed

[2020-02-25 11:42] #1358 closed

[2020-02-25 11:44] sungam3r commented on #1358
@jsp-up merged!

[2020-02-25 11:44] sungam3r commented on #1287
@pulla2908 merged!

[2020-02-25 11:45] sungam3r commented on #850
@nojaf merged!

[2020-02-25 12:04] Shane32 commented on #1326
Thank you yes. I will be working on this as well. Any pointers to issues that should be included in the upgrade guide, release notes, and known issues will be helpful

[2020-02-25 12:06] Shane32 commented on #777
Yup thanks

[2020-02-25 12:07] sungam3r commented on #1326
I tried to initially include them all in the summary. Of course there are many others, but it was simply unrealistic to track them all.

[2020-02-25 14:40] danleydmello commented on #1135
No,its all good now. Thanks

[2020-02-25 14:40] #1135 closed

[2020-02-25 16:59] mimescua commented on #1162
Dear @sungam3r thanks for your interest.
I solved it as follows(using parse with Newtonsoft):
`public async Task<IDictionary<int, Site>> GetSitesById(IEnumerable<int> siteIds, CancellationToken token)
        {
            return await _dbContext.SITE.Where(i => siteIds.Contains(i.Id)).Select(t => new Site
            {
                Id = t.Id,
                Type = t.Type,
                Coor

[2020-02-25 17:01] #1162 closed

[2020-02-25 18:35] sungam3r commented on #58
See https://github.com/graphql/graphql-spec/blob/master/rfcs/InputUnion.md . We could add support for input unions after this rfc will be merged into the spec. For now it will be better to close this issue.

[2020-02-25 18:35] #58 closed

[2020-02-25 18:53] FrederickBrier commented on #549
No. I defined an API which is in production now. Thank you. I am closing the ticket. Sorry about that.

[2020-02-25 18:53] #549 closed

[2020-02-25 20:46] sungam3r commented on #956
@Tarig0 Is this issue still actual for you? If I undestand you correctly you can solve this problem by custom scalar type.

[2020-02-25 22:19] sungam3r commented on #834
Closed as stale.

[2020-02-25 22:19] #834 closed

[2020-02-25 22:28] sungam3r commented on #333
@zimmybln Since the moment you created this issue, a lot of time has passed and many things have been changed and fixed. Also repo has a lot of tests for @skip and @include. If this issue is no longer actual, then let me know.

[2020-02-25 22:39] sungam3r commented on #416
@JJLost what you are talking about is very similar to [AutoRegisteringObjectGraphType](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs). I will close this issue, feel free to ask questions if you have any.

[2020-02-25 22:39] #416 closed

[2020-02-25 23:16] sungam3r commented on #572
@ravgupms Is this issue still actual for you?

[2020-02-25 23:20] sungam3r commented on #611
@wiktor-golonka Is this issue still actual for you?

[2020-02-25 23:29] sungam3r commented on #894
Current version of `IDocumentWriter`: https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/IDocumentWriter.cs

[2020-02-25 23:29] #894 closed

[2020-02-25 23:31] #903 closed

[2020-02-26 03:31] Shane32 opened #1573 "MiddlewareResolver and SyncToAsyncResolverAdapter are nearly identical"
`MiddlewareResolver` and `SyncToAsyncResolverAdapter` are nearly identical.  Should one be deleted?

* `SyncToAsyncResolverAdapter` was added since 2.4.0, so deleting it would not be a breaking change from 2.4.0
* It functions almost identical to MiddlewareResolver, except it does not change a null inner `IFieldResolver` to the default `NameFieldResolver.Instance`
* `BaseSchemaNodeVisitor.WrapReso

[2020-02-26 09:08] sungam3r commented on #1573
Good that you touched on this topic. I had questions for these classes.

`SyncToAsyncResolverAdapter` is used only in `AsyncUppercaseDirectiveVisitor` for awaiting `inner.ResolveAsync(context);`. No separate class is needed for this, an extension method will be enough. In fact this is nothing more than helper method to check if `Resolve` returns Task:
[code]

Then
[code]

And finally:
[code]

So I

[2020-02-26 09:27] benmccallum commented on #495
I guess it's just a matter of documenting an example of a custom middleware, similar to  `InstrumentFieldsMiddleware` or perhaps also like GraphQL.Validation's middleware that catches the FluentValidation ValidationException, and demonstrates what you can do.

Does anyone wanna have a crack and mind if we assign this to them?

[2020-02-26 10:13] ooo2003003v2 opened #1575 "How can I pass object defined in constructor to query and mutation file?"
I have defined a object for accessing the request and response header in constructor but can i pass it to the query and mutation file?

[2020-02-26 11:51] sungam3r commented on #1575
Mutation _file_? What do you mean?

[2020-02-26 13:18] benmccallum opened #1576 "Document deprecation support"
###  Summary

~I'd like to know if it's possible to deprecate a particular value in an enum. Quick Google shows a ruby graphql implementation supports it, so it's definitely a schema-supported thing (and I later found we support it via `EnumerationGraphType::AddValue`.~

In my search I couldn't find any general docs on deprecation of fields/args. I know it's simple enough, but worth documenting in

[2020-02-26 13:19] benmccallum commented on #1576
Had a feeling it would have been done. See [here](https://github.com/graphql-dotnet/graphql-dotnet/blob/f72b07a530f67086efd57cf7933552b10b936f8d/src/GraphQL/Types/Scalars/EnumerationGraphType.cs#L72). Should've looked further. So maybe this issue is just to document it.

[2020-02-26 15:01] sungam3r commented on #1576
See #924 .

[2020-02-26 16:39] benmccallum commented on #1576
Haha funny. That's awesome. Closing. Thanks @andrewtyped !

[2020-02-26 16:39] #1576 closed

[2020-02-26 16:45] Tarig0 commented on #956
I got around it by using MemoryStream as the target type since it didn't implement IEnumerable`1
[code]
Though I feel like there should be a way to control the conversion from type IEnum<A> to type IEnum<B> when conversion from A => B is not desired.

Can you show me the sample scalar type? I haven't touch my graphql project in a while so I'm a bit rusty

[2020-02-26 23:00] sungam3r commented on #956
@Tarig0 At first I did not understand what you were achieving,  now it is clear.

[2020-02-27 01:35] ooo2003003v2 commented on #1575
like this
![image](https://user-images.githubusercontent.com/55082067/75404096-7f808a00-5944-11ea-8032-d7f7041a2410.png)

[2020-02-27 06:50] sungam3r commented on #1575
OK.

Constructor of which class?

[code]

Did you mean that?

[2020-02-27 12:40] prcdpr opened #1579 ""Virtual member call in constructor" warning when defining fields"
I have a lot of "Virtual member call in constructor" warnings in my code since upgrading to v3

![image](https://user-images.githubusercontent.com/43776797/75445806-73a5bf80-5966-11ea-85ef-8dc55f4f344f.png)

![image](https://user-images.githubusercontent.com/43776797/75445814-79030a00-5966-11ea-90ea-0999351f9c6e.png)

Is it something to worry about?

[2020-02-27 13:50] sungam3r commented on #1579
No. There are a lot of warnings from various analyzers, each of which needs to be treated critically. There are even those that are mutually exclusive 😄

[2020-02-27 13:51] sungam3r commented on #1579
By the way, could you provide full error text with rule code from your output?

[2020-02-27 14:02] prcdpr commented on #1579
https://www.jetbrains.com/help/rider/VirtualMemberCallInConstructor.html

It disappears when make my graph type class "sealed"

[2020-02-27 14:18] sungam3r commented on #1579
You can suppress or ignore this warning.

[2020-02-27 14:20] prcdpr commented on #1579
OK thanks

[2020-02-27 16:25] sungam3r commented on #684
It is a design flaw.

[2020-02-27 16:29] sungam3r commented on #684
Relates to #1107

[2020-02-27 16:34] sungam3r commented on #684
@saborrie I understand your idea. API will look different, but the functional purpose will be just that.

[2020-02-27 17:54] BillBaird opened #1580 "Introspection does not include interface implementations unless implementation directly used"
## Description

When defining a GraphQL interface with multiple types implementing it, only those types which are explicitly used in a query or mutation are included in introspection even those those not explicitly used can be returned.

### Steps to reproduce

Consider this set of poco types:

[code]
And this corresponding schema-first GraphQL definition
[code]
And expose them through some trivia

[2020-02-27 19:16] sungam3r commented on #1580
See docs https://graphql-dotnet.github.io/docs/getting-started/interfaces#registertype

[2020-02-27 19:27] pekkah commented on #1579
There are few field methods marked as virtual. Virtual methods shouldn't be called from ctor without sealing the class as that could lead to weird behavior. I think those Field methods should not be virtual.

[2020-02-27 19:45] BillBaird commented on #1580
Thanks.  I knew it should be simple.  I was expecting something on the Type itself rather than the Schema, although this makes sense.  Closing this with egg on my face 😕

[2020-02-27 19:45] #1580 closed

[2020-02-27 19:48] sungam3r commented on #1579
Any code could lead to weird behavior. These methods were made virtual intentionally to allow redefinition/tuning of behavior. I understand what the recommendations say. But I also perfectly understand that each recommendation has its limits of applicability. For a long time I have seen enough of the recommendations of various analyzers. You can’t blindly follow them.

And in general, let's carefu

[2020-02-27 20:09] sungam3r commented on #684
Well, I think this issue will be resolved after merging #1577 . You can register any conversion delegate through `ValueConverter.Register` and it will be called from `context.GetArgument<YourDTO>`. Note that this applies to any nesting level of properties in the input argument, not root only.

[2020-02-27 20:11] sungam3r commented on #684
I was wrong, changes are required for the complex type.

[2020-02-27 20:17] pekkah commented on #1579
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2214

[2020-02-27 20:18] sungam3r commented on #1579
I am well aware of this.

[2020-02-27 20:19] sungam3r commented on #1579
I also saw a lot of rules of this analyzer, which in practice do not make sense in 99% of cases.

[2020-02-27 20:22] sungam3r commented on #1579
For clarification - I constantly use this analyzer together with others in production. I am not against analyzers. I am in favor of a critical approach to the application of their rules.

[2020-02-27 20:31] prcdpr commented on #1579
@sungam3r analyzers are pretty popular, for example this one from Rider is built-in and I didn't even have to enable it.

You're right about being sensible about application of their rules, but everyone who uses them will be forced either to:
- seal the class
- move field definitions to other method
- disable inspection probably for every class that extends ObjectGraph

This is a lot of unnecessar

[2020-02-27 20:46] sungam3r commented on #1579
Really? Perhaps for those who use Rider. We use GraphQL in more than a hundred microservices with analyzers enabled by default, including FxCopAnalyzers. So far no problems. And of course, we turn off many rules, some more often some less, because the harm from following them is more than good.

I would not want to delve into the numerous examples. I will give just one example
https://docs.microso

[2020-02-27 20:50] pekkah commented on #1579
Why this leads to a discussion about rules? Some are good and some are bad but you should try to understand what it's trying to tell you. I this case where most people inherit their custom graph types "forcing" people to call virtual methods in ctor can lead to issues when field etc. initialization order is not what would be expected. I would think it would be beneficial to try to design around th

[2020-02-27 21:04] sungam3r commented on #1579
I understand what you're trying to say.

Most people inherit custom graph types but not most people write their own overrides for `ComplexGraphType.Field` virtual method. You are trying to deal with a problem that does not exist.

[2020-02-27 21:06] sungam3r commented on #1579
See #1351 for more context.

[2020-02-27 21:19] #956 closed

[2020-02-27 21:20] sungam3r commented on #956
@Tarig0 Could you check if current behavior suits you?

[2020-02-27 22:02] Shane32 opened #1581 "Update documentation for ValueConverter"
- Update documentation in `schema-types.md`
- Add some xml comments
- Note in migration guide

See: https://github.com/graphql-dotnet/graphql-dotnet/pull/1577#discussion_r384824634

Please assign to me; I will issue a PR when I have the time.

[2020-02-27 22:34] sungam3r commented on #864
Relates to #684

[2020-02-27 22:35] sungam3r commented on #864
Done in other PRs.

[2020-02-28 07:42] JKamsker commented on #1367
@sungam3r I extended the examples in https://github.com/JKamsker/examples
What do you think about it?

[2020-02-28 08:06] sungam3r commented on #1367
Could you make a PR to review your changes?

[2020-02-28 08:26] JKamsker commented on #1367
@sungam3r Done
https://github.com/graphql-dotnet/examples/pull/37

[2020-02-28 22:47] sungam3r commented on #795
Agree. Closed.

[2020-02-28 22:47] #795 closed

[2020-02-29 13:49] sungam3r commented on #669
It is a known issue. `InputObjectGraphType` does not use resolvers. See #1176 and linked issues.

[2020-02-29 17:38] sungam3r commented on #684
Duplicate of #669

[2020-02-29 17:44] sungam3r commented on #864
@joemcbride it's done in #1582

@rose-a you're right, with changes from #1582 you can continue to use `GetArgument` API through your codebase.

[2020-02-29 21:54] #1573 closed

[2020-02-29 21:59] sungam3r commented on #1573
@Shane32 Finally done! What do you think about #1582 ? I plan to review your PRs one more time after that tomorrow.

[2020-02-29 22:22] Shane32 commented on #1573
Sorry I can’t look at it now. Maybe tonight.

[2020-03-01 22:21] #669 closed

[2020-03-01 22:21] #684 closed

[2020-03-01 22:21] #864 closed

[2020-03-01 22:24] sungam3r commented on #669
@KiraNamida Done in #1582 . You can try the latest preview.

[2020-03-01 22:24] sungam3r commented on #684
@SebastianStehle Done in #1582 . You can try the latest preview.

[2020-03-01 22:25] sungam3r commented on #864
@zjean Done in #1582 . You can try the latest preview.

[2020-03-01 22:46] #1566 closed

[2020-03-01 22:54] sungam3r commented on #619
See https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/custom-scalars.md

[2020-03-01 22:58] sungam3r commented on #672
@bdparrish Is this issue still actual for you?

[2020-03-01 23:09] sungam3r commented on #803
@dharmeshtailor Is this issue still actual for you?

[2020-03-01 23:15] #904 closed

[2020-03-01 23:16] sungam3r commented on #910
Closed due to inactivity.

[2020-03-01 23:16] #910 closed

[2020-03-01 23:22] sungam3r commented on #1006
@W2K  See #1176 and related issues. Resolvers are ignored for fields inside inputs. But now you **can** use custom deserializer inside `context.GetArgument<GameDefinition>("game");`. Use `ValueConverter.Register` APIs.

[2020-03-01 23:29] sungam3r commented on #1011
Closed as answered.

[2020-03-01 23:29] #1011 closed

[2020-03-01 23:31] sungam3r commented on #1027
Closed as answered. @dojo90 Now you can use schema filter to solve this issue.

[2020-03-01 23:31] #1027 closed

[2020-03-01 23:35] sungam3r commented on #1096
Closed as answered.

[2020-03-01 23:35] #1096 closed

[2020-03-01 23:41] sungam3r commented on #1134
@scott-mac Now you can use custom deserializer with `context.GetArgument<>` API. First call `ValueConverter.Register<>`. Feel free to ask questions if this issue is still actual for you.

[2020-03-01 23:41] #1134 closed

[2020-03-01 23:44] sungam3r commented on #1138
duplicate #1321

[2020-03-01 23:45] #1138 closed

[2020-03-01 23:50] sungam3r commented on #1184
Closed as duplicate in favor of #648 and related issues.

[2020-03-01 23:50] #1184 closed

[2020-03-01 23:54] sungam3r commented on #1215
@draganjovanovic1 Yes. The difference with my example is that my example describes the error as data (a different kind of data, but still data).

@rahulpandey8920 Is this issue still actual for you?

[2020-03-01 23:58] sungam3r commented on #1288
GraphQL API has no _dynamic fields_. You fully describe API. However, you can always use a field/argument of type `String` to pass any data structure in it, usually JSON.

[2020-03-02 00:03] sungam3r commented on #1298
Actually you can. See #1160 and related discussions.

Also now `Schema` explicitly implements `IServiceProvider` so you can do comething like
[code]

I do not understand.

[2020-03-02 00:04] sungam3r commented on #1301
Closed due to inactivity.

[2020-03-02 00:04] #1301 closed

[2020-03-02 00:05] sungam3r commented on #1309
@shimuel Is this issue still actual for you?

[2020-03-02 00:10] STRATZ-Ken commented on #1375
Your answer to number 2 is correct.  One to many relationships or one to one.

[2020-03-02 00:18] dharmeshtailor commented on #803
Not issue anymore.

[2020-03-02 00:18] #803 closed

[2020-03-02 02:17] Shane32 commented on #781
@sungam3r I think this should be reviewed again.  I think you said that the effect can only happen when `ThrowOnUnhandledException = true`.  It would seem that `context.CancellationToken.ThrowIfCancellationRequested();` in `ParallelExecutionStrategy.ExecuteNodeTreeAsync` executes outside of the `try..catch` block, and can throw an `OperationCanceledException` before awaiting tasks it may have queu

[2020-03-02 02:31] Shane32 commented on #781
In fact, it doesn't look like asynchronous exceptions are caught by the execution strategy at all !?!???

[2020-03-02 02:33] Shane32 commented on #781
Since the `await` also does not occur within a `try..catch` block (besides in the document executer).  So if an `ExecutionError` is thrown, it isn't caught. Please confirm

[2020-03-02 02:53] Shane32 commented on #781
Nevermind those last 2 comments.  Duh.  Of course they are caught inside `ExecuteNodeAsync`

[2020-03-02 02:57] Shane32 commented on #781
So the 'lost task' execute the rest of `ExecuteNodeAsync` which catches the unhandled exception.  Ok now I understand.  So nevermind @sungam3r .  Just took me a minute to figure out why you were of course correct to begin with.

[2020-03-02 02:59] Shane32 commented on #781
Personally, I'd agree with your assessment of the situation, and that it is reasonable for a `UnobservedTaskException` to be thrown when `ThrowOnUnhandledException = true`, considering that it doesn't crash the process by default.

[2020-03-02 04:54] sungam3r commented on #781
I already managed to get scared that something was wrong. I'll leave it open for now.

[2020-03-02 05:07] sungam3r commented on #1323
Closed in favor of #1475

[2020-03-02 05:07] #1323 closed

[2020-03-02 05:10] sungam3r commented on #1264
@petrdicp Is this issue still actual for you?

[2020-03-02 05:54] sungam3r commented on #1335
@ksyDeveloper Is this issue still actual for you? You can check GraphQL.Harness example in this repo or one in the [server repo](https://github.com/graphql-dotnet/server).

[2020-03-02 05:59] sungam3r commented on #1424
1. https://www.nuget.org/packages/dotnet-sdlexport/
2. https://www.nuget.org/packages/GraphQL.IntrospectionModel/
3. [awaiting]

[2020-03-02 06:15] sungam3r commented on #1447
@amoore-incomm Is this issue still actual for you?

[2020-03-02 06:18] sungam3r commented on #1514
@yaswanth25938 I advise you to ask this question in https://github.com/SimonCropp/GraphQL.EntityFramework

As I said earlier this repository is not the place where database access issues are resolved.

[2020-03-02 06:18] #1514 closed

[2020-03-02 06:19] sungam3r commented on #1560
@fenomeno83 Is this issue still actual for you?

[2020-03-02 06:20] sungam3r commented on #1562
Closed in favor of #1310

[2020-03-02 06:20] #1562 closed

[2020-03-02 06:22] sungam3r commented on #1575
@ooo2003003v2 Did you solve this issue?

[2020-03-02 17:12] amoore-incomm commented on #1447
@sungam3r, thanks for the above response. I believe i did use something similar to that, although my memory escapes me now.   Issue can be closed...thank you!

[2020-03-02 17:12] #1447 closed

[2020-03-02 22:39] sungam3r commented on #1045
Do not use resolver for inputs, this just not work. See linked issues. Call `context.GetArgument<YourDataObject>("argname")` inside field resolver to get argument. If you want custom deserialization for `YourDataObject` you may registed custom converter, for example `ValueConverter.Register<YourDataObject>(values => YourDataObject.Build(values))`

[2020-03-02 22:39] #1045 closed

[2020-03-03 05:54] sungam3r commented on #1411
See https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Execution/ExecutionNode.cs#L63

Now `Path` uses field [name](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Execution/ExecutionNode.cs#L83), not alias. I think that's what it's intended as field name is "more stable" than alias. You can get alias though: `ExecutionNode.Field.Alias`, `IResolveFiel

[2020-03-03 05:54] #1411 closed

[2020-03-03 07:20] Mcaldentey opened #1585 "How to get the parent argument"
Hi!

I have a query like this:
`{
  rules(provider:"TST"){
    ruleA(client:"A"){
      value
    }
    ruleB(client:"B"){
      value
    }
  }
}`

Someone requested 2 rules of a provider, for different clients.
How can I access to the parent argument (provider) in the ruleA resolver?

In my code i have something like:

[code]

[code]

The only way I achieved this, was using query variables to se

[2020-03-03 11:38] sungam3r commented on #1585
You can use `context.Document` to obtain entire AST of incoming request. Now there is no reference to parent field from `GraphQL.Language.AST.Field`. I myself miss this feature for some projects, while I have to manually parse the document.

[2020-03-03 18:09] santoshpatro opened #1586 "How to effectively map all the properties of DTO class to the FiledType class using GraphQL.NET?"
Any help on the below mentioned request is much helpful

https://stackoverflow.com/questions/60496639/how-to-effectively-map-all-the-properties-of-dto-class-to-the-filedtype-class-us

[2020-03-03 22:00] sungam3r commented on #1586
`AutoRegisteringObjectGraphType<TSourceType>`

[2020-03-04 00:35] eddyjl077 opened #1587 "System.InvalidOperationException: Unable to resolve service for type 'GraphQL.Server.Transports.AspNetCore.Common.IGraphQLRequestDeserializer' while attempting to activate 'GraphQL.Server.Transports.AspNetCore.GraphQLHttpMiddleware"
Keep getting this error after update to

![image](https://user-images.githubusercontent.com/20169438/75833047-cf68b200-5d85-11ea-806b-911e6bf1f9c7.png)

System.InvalidOperationException: Unable to resolve service for type 'GraphQL.Server.Transports.AspNetCore.Common.IGraphQLRequestDeserializer' while attempting to activate GraphQL.Server.Transports.AspNetCore.GraphQLHttpMiddleware

Any solution?

[2020-03-04 06:20] sungam3r commented on #1587
Please read README.md and check example. Serialization was moved in separate package(s).

[2020-03-05 08:35] monkeyTrainer opened #1591 "How can I gain access to the HttpRequest object in n ObjectGraphType Field Resolve Function"
This is the code for my GraphQL controller;

    [Route("[controller]")]
    public class GraphQLController : Controller
    {
        private readonly IDocumentExecuter _documentExecuter;
        private readonly ISchema _schema;

        public GraphQLController(ISchema schema, IDocumentExecuter documentExecuter)
        {
            _schema = schema;
            _documentExecuter = documentExe

[2020-03-05 09:33] tatarincev opened #1592 "'A loop has been detected while registering schema types.' exception when overriding types in the service provider"
I'm using the `GraphQL 3.0.0-preview-1490` version.
## Description
In our project, we would like to extend the existing schema types via overriding with the derived types in the service resolver.  We return for one schema type `FootType`  the instance of derived type `FooType2`.  But seems it doesn't work.

The exception  `A loop has been detected while registering schema types.`  is thrown when a

[2020-03-05 11:35] santoshpatro commented on #1586
@sungam3r  : I looking for some reference examples. Can you please help me with sample example containing its implemntation

[2020-03-05 13:35] sungam3r commented on #1591
1. Inject `IHttpContextAccessor`
or
2. Store something into `UserContext` property, it's dictionary of user defined additional information.

[2020-03-05 13:43] sungam3r commented on #1592
I did not understand what you want to do, but definitely such an error message is expected. All types in the schema must have unique names. Previously, without this check, there were a number of situations where it was possible to create an incorrectly configured schema, which led to incomprehensible errors in runtime. See #1421 . Maybe what you want to achieve can be done in a different way.

[2020-03-05 13:45] sungam3r commented on #1586
https://github.com/graphql-dotnet/graphql-dotnet/blob/aed5298a435012d41d42dd0a9accebdb3cff1de3/src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs#L85

[2020-03-05 15:50] tatarincev commented on #1592
Thanks for the quick response.
Try to rephrase my question :)
We want to override/substitute existing scheme types for another, without changing the source code where the schema defined and intend to use for this the `IServiceProvider` that will return the instance of type `FooType2` instead of original `FooType`.

[2020-03-05 17:48] Shane32 commented on #492
I don't understand why this issue was closed without any discussion and I believe it should be reopened @sungam3r .  It is a very valid point.  I would agree that middleware should not be set during execution, but rather beforehand during configuration of the schema.

[2020-03-05 19:10] sungam3r commented on #492
Ok

[2020-03-05 20:48] sungam3r commented on #1592
Are you sure?

[2020-03-05 21:07] dahlsailrunner opened #1595 "ASP.NET Core 3.1: Getting a "Query is required" error on the /graphql endpoint"
## Description
Getting **Query is required** error.  I can't get the graphql endpoint working in a brand new and very simple project that uses the ASP.NET Core DI engine and an existing database.

### Steps to reproduce
Current code is here: https://github.com/dahlsailrunner/northwind-core-api
It's a very simple API based on "northwind" data.

I did check this issue: https://github.com/graphql-dot

[2020-03-05 21:39] dahlsailrunner commented on #1595
Incidentally, I have the same basic code working in .net core 2.2 and it's working fine.

[2020-03-05 22:06] sungam3r commented on #1595
https://github.com/graphql-dotnet/graphql-dotnet#installation

You reference 2.3.0 version, even older one.

Please upgrade to the latest preview and check again. Also you need the latest server package https://github.com/graphql-dotnet/server

[2020-03-05 22:21] dahlsailrunner commented on #1595
I found my answer:
https://khalidabuhakmeh.com/dotnet-core-3-dot-0-allowsynchronousio-workaround

I had to add these lines:
[code]
My repo (data access calls) where indeed synchronous, but even when I made them async (returning Task<T>) I still get the error without those lines above.  So I think something inside the Playground logic is doing a synchronous read.

Feel free to close this issue as I

[2020-03-05 22:21] #1595 closed

[2020-03-06 01:55] ooo2003003v2 commented on #1575
Not really but I managed to pass what i need into a Singleton class so it's fine now. Thank you for the help

[2020-03-06 01:55] #1575 closed

[2020-03-06 02:01] ooo2003003v2 opened #1596 "Is it possible to includes more than one query or mutation class in Schema?"
Hello there I have encounter a problem when i need include more than one query file. Is it possible to include more than one in schema?

[code]

[2020-03-06 04:48] sungam3r commented on #1596
What behavior do you expect to get?

[2020-03-06 05:57] sungam3r commented on #1595
No. It is all about async read/write on the server side - Newtonsoft.Json serializer. Now we have new SystemTextJson package, see server repo readme. GraphQL Playground is a frontend application.

[2020-03-06 08:24] monkeyTrainer commented on #1591
Thanks @sungam3r that'll do nicely.

[2020-03-06 08:24] #1591 closed

[2020-03-06 14:02] dahlsailrunner commented on #1595
Thanks for the clarification - I simply meant something initiated by the playground.  But after updating the packages and source code the problem was eliminated.  The repo that I link to above shows fully working code with the changes that i made.  Thanks!!!

[2020-03-06 22:47] togakangaroo opened #1597 "Generate enums as graphqlenumtype in the schema with descriptions"
We have enums with attached descriptions:
[code]

I assumed that when I looked in my schema I'd see all that in a [`GraphqlEnumType`](https://graphql.org/graphql-js/type/#graphqlenumtype) but instead see the following in the schema in my graphql playground

[code]

we do have this registered via IoC
[code]

So is it possible to include descriptions along with the values?

[2020-03-07 06:24] sungam3r commented on #1597
What version do you use? Try the latest preview.

[2020-03-07 06:25] sungam3r commented on #1597
Also see docs https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/schema-types.md#enumerations

[2020-03-07 11:03] tatarincev commented on #1592
I guided by the following, why I can't  `cheat` and replace the declared type `FooType` with derived `FooType2`  since the GraphQL schema is built during execution anyway. At first glance, this problem seems trivial because from the system perspective won't be the two different types `FooType` and `FooType2` at the same time.

In the provided example I used the empty `FooType2`  only to articulate

[2020-03-07 11:37] sungam3r commented on #1592
To be able to replace graphq types, we need to change the schema traversal algorithm. I see no way to quickly solve the problem. It takes time to think.

[2020-03-09 03:47] togakangaroo commented on #1597
Interesting, I'm on 3.0.0-preview-1352 released 3 months ago, @sungam3r are you saying that what I'm seeing above in the schema is not what I should be seeing?

[2020-03-09 05:03] sungam3r commented on #1597
GraphQL Playground has 2 tabs - one for schema (without descriptions) and one for docs. Where are you looking for descriptions?
![изображение](https://user-images.githubusercontent.com/21261007/76184276-62697800-61dc-11ea-9490-16ee387ea90b.png)

[2020-03-09 07:35] ooo2003003v2 commented on #1596
I am not sure I am doing the right thing because I've split each topic having it's own controllers(eq: push msg, device etc ) instead of one controllers for everything. I have a general response object which can be access by each topic query. So i split it into a general query file but it's not working.

[2020-03-09 07:59] Mcaldentey commented on #1585
Thank you!

[2020-03-09 07:59] #1585 closed

[2020-03-09 10:44] sungam3r commented on #1596
Query is one of the root GraphQL types. I see you use schema first way where methods from .NET type are mapped to GraphQL **fields**, 1 method of .NET type - 1 field of corresponding GraphQL type. Do you want to combine methods from many .NET types into one GraphQL root Query type?

[2020-03-09 14:17] togakangaroo commented on #1597
Hmm, I see - I was looking under schema. So the issue is that we generate Typescript types from our front end using the Apollo generators. As best as I know, these use the schema and are missing any descriptions. My task is to figure out how to include the descriptions in there since they become labels for selectors (I know, but in this case localization is not an issue).

[2020-03-09 14:24] adarisGmbH opened #1599 "Query Batching multi threaded?"
Hi
I'm wondering, how does GraphQL.NET handle batch queries under the hood? Does it execute each query in parallel using separate .NET tasks/threads ? Or sequential? And: Can this behavior be configured somehow?

In my opinion the following strategy would be ideal:
- Queries should execute in parallel
- Mutations shold execute sequentially in the order they were specified in the request (allows a

[2020-03-09 14:27] sungam3r commented on #1597
Actually GraphQL schema (SDL - Schema Definition Language) has descriptions. GraphQL Playground is just UI. You should change GraphQL Playground settings to enable descriptions:
![изображение](https://user-images.githubusercontent.com/21261007/76222053-14c82c00-622b-11ea-8824-6d93b2117ab2.png)

[2020-03-09 14:36] sungam3r commented on #1599
Each query (fields inside this query) is executed in parallel. Each mutation sequentially. It meets the GraphQL specification.

For request batching no behavior described. Howewer [this issue](https://github.com/APIs-guru/graphql-over-http/issues/5) was posted. Now batched queries are executed sequentially but this topic specific to [server repo](https://github.com/graphql-dotnet/server/blob/devel

[2020-03-09 14:39] sungam3r commented on #1599
Yes. You can override `DocumentExecuter.SelectExecutionStrategy`. For request batching there are no (yet) options in the server repo to configure parallel/sequential behaviour.

[2020-03-09 15:07] togakangaroo commented on #1597
Hmm, I just realized that `GraphEnumType` link I included above was to the graph-js library, not the spec.

What I'm seeing now is
[code]

I was thinking there was something in the spec itself that actually would put descriptions in enum definitions but it sounds like that is not the case 😢

[2020-03-09 16:30] adarisGmbH commented on #1599
Thanks a lot for your answer!

[2020-03-09 16:30] #1599 closed

[2020-03-09 16:38] adarisGmbH opened #1600 "Schema exception when using interfaces"
Consider the following scenario:

- GraphQL Interface "Animal"
- One GraphQL Type "Dog" and another called "Cat"
- query { animals { items { name } } } -> returns a Connection to interface Animal

Now, when using GraphQL with this scenario, I get an exception in some cases:

I suspect the reason is that I don't have explicit Connections to Dog and Cat in my schema. I am, however, using GraphTypeTy

[2020-03-09 16:54] adarisGmbH commented on #1600
PS: I seem to have solved the problem likes this:
[code]

Could you confirm if this is the correct way to do it?

[2020-03-09 17:19] sungam3r commented on #1597
Can I help you with something else?

[2020-03-09 17:30] sungam3r commented on #1600
Probably. It’s hard for me to say without seeing the schema definition. Also see this https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/interfaces.md

[2020-03-09 19:20] adarisGmbH commented on #1600
@sungam3r Thanks a lot, that confirmed my assumption. I must have missed that part of the documentation.

[2020-03-09 19:20] #1600 closed

[2020-03-10 06:59] ooo2003003v2 commented on #1596
Yes. I would love to do that.
Response Query file

`

       [GraphQLMetadata("response")] public Response GetResponse()

        {

            Response res = new Response();

            return res;
        }
`

[2020-03-10 07:06] ooo2003003v2 commented on #1596
Yes. I would love to do that. The result I want is that localhost/topic and localhost/device can share the response type.

localhost/topic
query getTopics{
topic
response
}

localhost/device
query getDevices{
device
response
}
`
Device Query file
`

        [GraphQLMetadata("topic")]
        public Response GetTopics(){

            List<GetTopic> res = new List<GetTopic>();
           ...

[2020-03-10 11:03] sungam3r commented on #1596
Now this feature is not supported.

[2020-03-10 13:17] ironpython2001 commented on #275
looking for the same.

[2020-03-10 13:31] sungam3r commented on #275
It's done long ago https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Execution/ExecutionOptions.cs#L62

[2020-03-11 06:18] ironpython2001 commented on #275
i got the nuget package . i see it is not working... is it published in nuget.

[2020-03-11 06:54] ooo2003003v2 opened #1602 "How can I pass IConfiguration into Schema's query file?"
Hello there. I want to pass app setting data into query or mutation file. How can I do that?

[2020-03-11 09:27] #1602 closed

[2020-03-11 09:55] bppn commented on #1131
We worked around the problem in another way, no this issue is not actual any more

[2020-03-11 10:28] sungam3r commented on #275
See readme: https://github.com/graphql-dotnet/graphql-dotnet#installation

[2020-03-11 10:37] #1131 closed

[2020-03-11 11:07] ironpython2001 commented on #275
thanks for the information . using the packages GraphQL.SystemTextJson, GraphQL.NewtonsoftJson with the latest graphql 2.0.0 (stable ) library has lot of compartible issues with warnings.

[2020-03-11 11:12] sungam3r commented on #275
These packages are dependent on a higher GraphQL-dotnet version 3.0.0-preview-XXXX. They **will not work** with any 2.X.X version.

[2020-03-11 13:41] vincent-duret opened #1603 "graphql-parser comments are lost when I call CoreToVanillaConverter.Convert(string body, GraphQLDocument source)"
I am using graphql-dotnet v3-preview1490 and graphql-parser v5.1.0.
I did notice that the comments are well-parsed and present in the GraphQLDocument source parameter, but I have no way to get access to them through the Document returned by the CoreToVanillaConverter.Convert(string body, GraphQLDocument source) method.
Is it a well-known bug/limitation? Any clue to workaround this?

By the way, wh

[2020-03-11 14:37] sungam3r commented on #1603
@joemcbride ?

[2020-03-11 14:41] sungam3r commented on #1603
Do you mean input request document?

[2020-03-11 14:50] vincent-duret commented on #1603
Not sure to get your question but if it might help, here is the document I am trying to parse:
#id: id of the employee
query _($id: ID = "00000000-0000-0000-0000-000000000000") {
  DummyEmp(_where: {idDummyEmp: {_eq: $id}}) {
    #comment for id
    id: idDummyEmp
    name: strName
    email: Email
    phone: Phone
    address: Address
    city: City
  }
}

[2020-03-11 14:53] vincent-duret commented on #1603
I did have a look to the source of the CoreToVanillaConverter class.
For instance, in the method Field Field(GraphQLFieldSelection source), the Comment property from the source parameter is not copied in the field variable returned by that function.

[2020-03-11 17:40] ebekker opened #1604 "Registering nullable value types doesn't allow inferring the Graph Type"
## Summary
I tried to register with `GraphTypeTypeRegistry` the nullable variations of the built-in value types to the corresponding `*GraphTypes` (essentially duplicating [this built-in code](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Utilities/GraphTypeTypeRegistry.cs) but for the nullable CLR types) in the hopes that it would be able to _infer_ the types of my fiel

[2020-03-11 18:04] sungam3r commented on #1603
Yes, it is input query document. I see that comments are not used anywhere in the `CoreToVanillaConverter`. @joemcbride is this done on purpose?

[2020-03-11 18:49] GrangerAts commented on #1439
@fulviocanducci - Like @joemcbride  and @sungam3r mentioned earlier, Gql.Net is not having the problem. The problem is with the Controller's model binder. You're using a .Net Core 3.x project, which uses Micrsoft's System.Text.Json by default instead of Newtonsoft. It can't deserialize a `JObject` (and it also can't serialize Gql.Net's `ExecutionResult`).

A quick/simple way to confirm this is to

[2020-03-11 20:42] sungam3r commented on #1439
Now both GraphQL-dotnet and server projects have System.Text.Json support. Serialization/deserialization parts were moved to external packages. See readme here and in the server project.

[2020-03-11 23:23] GrangerAts opened #1605 "Mutation arguments: Is there any compile-time connection between GraphType and actual class used in the resolver?"
## Summary
While writing a mutation, I noticed that there's no compile-time/strongly-typed connection between the GraphType used as the mutation's argument and the class you use when you call `context.GetArgument<T>()`.

For example,
[The Gql.Net example](https://graphql-dotnet.github.io/docs/getting-started/mutations/) has no compile-time/strongly-typed connection between `Human` and `HumanInputT

[2020-03-12 05:41] sungam3r commented on #1605
You are right. There's no strongly-typed connection between the GraphType and .NET argument type. This is by design and I don’t think that anything will change in the near future.

On the other hand it is rather flexible.

Gql.Net version 3 has many improvements over all codebase including better `GetArgument<T>` experience: parametrized ctors for arguments, custom converters, correct mapping for

[2020-03-12 10:02] vincent-duret commented on #1603
@sungam3r @joemcbride maybe you should have a way to access the underlying type from the parser. E.g. Field.Source

[2020-03-12 12:27] robotrick commented on #1459
hi @joemcbride  , do you already know when the release will be finished?

[2020-03-12 12:41] BenjaBobs opened #1606 "Expose Extensions in IResolveFieldContext and IExecutionContext"
## Summary

Currently if you're writing a query resolver, you can handle errors by accessing the `IResolveFieldContext.Errors` and adding the error.
Alternative you can throw the error.

As far as I can tell there is currently no way to do this with `Extensions`.
What I propose is to expose `Extensions` which a resolver can then fill with relevant data.

### Basic example

[code]

[code]

### Moti

[2020-03-12 16:03] sungam3r commented on #1603
What underlying type from the parser?

[2020-03-12 16:05] GrangerAts commented on #1605
OK, thanks. That's good to know; I can proceed. And looking at those referenced PRs, it appears I'm planning on going the same direction as other have already gone.

The plan continues to be to tie the InputGraphType's fields to the backing ViewModel/DTO as best as possible, then rely on naming/code conventions and training to get others to keep a consistent paradigm. (Pretty much the same thing t

[2020-03-12 16:05] #1605 closed

[2020-03-12 16:40] vincent-duret commented on #1603
For instance, in the method `public Field Field(GraphQLFieldSelection source)` you build a field from the source parameter.
In the method, we could have:
`field.Source = source` where Source is of type GraphQLFieldSelection

It would allow to access all the properties coming from the graphql-parser node.

[2020-03-12 19:03] ibramn opened #1607 "Can't find extension method 'AddSystemTextJson'"
**Error**: 'IGraphQLBuilder' does not contain a definition for 'AddSystemTextJson' and no accessible extension method 'AddSystemTextJson' accepting a first argument of type 'IGraphQLBuilder' could be found (are you missing a using directive or an assembly reference?)

I already installed package **GraphQL.SystemTextJson**,
I'm using dotnetcore 3.1
Thank you.

[2020-03-12 19:52] sungam3r commented on #1607
Read this https://github.com/graphql-dotnet/server
 GraphQL.SystemTextJson <> GraphQL.Server.Transports.AspNetCore.SystemTextJson

[2020-03-12 20:23] ibramn commented on #1607
Thank you for your fast reply,
I added the package using
`Install-Package GraphQL.Server.Transports.AspNetCore -Version 3.5.0-alpha0046`
 and it worked.

[2020-03-12 20:25] #1607 closed

[2020-03-12 21:14] rvtarig7 opened #1608 "Does graphql-dotnet support apollo federation for .NET Framework 4.6.1/4.6.2/4.7.1 ?"
Hi,
We already have an existing graph that uses apollo federation principle and we would like to know if we can use graphql-dotnet for developing federated graphql service using  .NET framework so that we can integrate this federated graph.

**We have a limitation to stick with .NET framework and not to use .NET Core 3.X**

So wondering if we can achieve the aforementioned requirement using .NET F

[2020-03-12 22:15] sungam3r commented on #1608
I know that subscriptions are a limiting factor (.NET Core only), everything else should work.

[2020-03-13 08:45] julienFlexsoft opened #1610 "Issues with Scoped DbContext since switch to 3.0"
## Summary
Hi!
Yesterday I updated my project to .NET Core 3.1. I then updated all my dependencies to the latest version. I then switched to graphql-dotnet 3.0. But now I have the classic EfCore "A second operation started on this context before a previous operation completed" error. Which is weird because I didn't have this issue before the update. And when I switch back to my not-yet-updated bra

[2020-03-13 09:36] pekkah commented on #1610
https://github.com/graphql-dotnet/graphql-dotnet/issues?q=is%3Aissue+is%3Aopen+DbContext

[2020-03-13 09:47] julienFlexsoft commented on #1610
Thank you for taking the time to answer me! I've looked at those related issues but none can be applied to my problem.

1. It all worked (and it still does) before the switch to 3.0
2. My DbContext must stay scoped, my business logic layer manipulates the data from a lot of different places and the result is only saved a the end. All the separate components must work on the same DbContext

[2020-03-13 10:19] sungam3r commented on #1610
@julienFlexsoft Version 3.0.0 became "more parallel" so now you **may** see errors where they were not before. To understand the conceptual problem with `DbContext`, please read #1310 .

Short answer for you now is
[code]

[2020-03-13 10:32] benmccallum commented on #1605
In my example, you can see how I use `nameof` to protect me from graph type field name or dto property name changes. For more complicated scenarios though unit tests would close the gap if you were worried. Something simple that ensure GetArgument<T> from a context does what you expected 100%.

[2020-03-13 10:34] julienFlexsoft commented on #1610
Aha! Thanks, that already explains a lot!

I read #1310 but I can't find where to set that option. I feel stupid but I really have no idea.
Is it in the Startup.cs?

`
                services.AddGraphQL(o => { o.ExposeExceptions = false; })
                    .AddGraphTypes(ServiceLifetime.Scoped)
                    .AddSystemTextJson(deserializerSettings => { }, serializerSettings => { })

[2020-03-13 10:39] sungam3r commented on #1605
The original question not only about argument name but also about all argument structure.

[2020-03-13 10:41] sungam3r commented on #1610
My bad, wait a little for PR.

[2020-03-13 11:26] #1610 closed

[2020-03-13 11:27] sungam3r commented on #1610
Let me know if the error is gone.

[2020-03-13 12:33] julienFlexsoft commented on #1610
Alright thanks!
How can I test it? Do I simply update GraphQL.Server.Transports.AspNetCore?
The latest version I see is 3.5.0-alpha0046 which I already have. Do I have to wait some time? Or do I have to get the code from the github develop branch without going through Nuget?

I've never done this before and I kind of feel out of my depth. Is there a resource I can read to understand it?

[2020-03-14 22:22] #1606 closed

[2020-03-16 20:34] sungam3r commented on #1542
It throws because you pass non-null input value (empty string I suppose) and not because argument nullable or not. I think that returning `null` for non-null scalar input is wrong. `null` has special meaning, this means the input coercion failed.

Why? You probably don't need this. Most likely you need some condition instead to do some processing later. You still need to create an instance of your

[2020-03-16 20:45] sungam3r commented on #901
@andrewtyped You're right. Everything is exactly as you say.

[2020-03-16 20:45] #901 closed

[2020-03-16 21:06] sungam3r commented on #1604
Yes, it is. Another thing is that such a design can hardly be considered good. There is still a backward compatibility issue. Looking through code I see that you can set `nullable: true` to solve it. Using `type: typeof(BooleanGraphType)` is another option to achive the same. Try it. I will leave this issue open as a reminder to change `Field<T>` API.

[2020-03-17 17:58] togakangaroo opened #1618 "Enum values end up with underscores in name when they shouldn't"
I have an enum exposed that contains the value `BR454` - graphql-dotnet seems to be converting it automatically to `BR_454`. This is not correct and I can't seem to find where this is configured. I tried the `FieldNameConverter` option but that quixotically seems to affect everything *except* enum fields.

Is this configured elsewhere?

[code]

[2020-03-17 18:32] togakangaroo commented on #1618
Ok, so I kind of have an answer to this myself. The solution is to create *your own* `EnumerationGraphType<>` and override the casing feature

[code]

then register that as an `EnumerationGraphType<>` in the graphql inversion of control container.

                graphQLBuilder.Services.AddSingleton(typeof(EnumerationGraphType<Foo>), _ => new NoCasingNonsenseEnumerationGraphType<Foo>());

For the

[2020-03-17 19:24] sungam3r commented on #1618
Right. Enum values are not fields. Anyone?

Already there. https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/schema-types.md#enumerations

Official  graphql spec explicitly recommends CONSTANT_CASE for enum values so this is default behavior and will not change.

[2020-03-18 12:30] robotrick commented on #1459
@joemcbride : our company would like to contribute, to get the 3.0 release ready as soon as possible. We are round about 25 senior .net developer, if you need manpower...?!

[2020-03-18 14:11] sungam3r commented on #1459
@robotrick Some issues from https://github.com/graphql-dotnet/graphql-dotnet/milestone/4 require not so much implementation as understanding, #1151 for example. PRs are always welcome.

[2020-03-19 08:47] pranshuchittora opened #1619 "Discussion: GraphQL Spec Compliance Test"
Hello maintainers
As a part of research around the simplifying graphql spec tests across implementations, I've stumbled upon the specs written here for `graphql-dotnet`. I'd really appreciate if I can get an idea around how difficult it has been to maintain this test suite, and how often does it go out of parity with the actual graphql spec? Were there cases when misunderstanding the spec led to i

[2020-03-19 09:48] sungam3r commented on #1619
Could you tell in more detail what you propose to do?

[2020-03-19 10:03] pranshuchittora commented on #1619
Actually I am researching for the project proposal given by the `GraphQL Foundation` for `Google Summer of Code 2020` -> [Project Idea](https://github.com/graphql/foundation/tree/master/mentorship/2020/gsoc#1-graphql-compatibility-acceptance-tests-medium)

The idea is to implement a `Compatibility Acceptance Test Suite` which can be integrated into the GraphQL implementation library.

[2020-03-19 11:36] sungam3r commented on #1619
Where is this test suite to integrate here? Does it exist?

[2020-03-19 11:43] BenjaBobs commented on #1619
From reading the proposal, the idea is to extract the tests from being written in a programming language, to being pure data (`yaml` was proposed, but it could be anything I guess).
Each implementation would then only have to write a parser for that data to have access to all the tests (nearly 2000) and could keep up to date on new spec tests simply by updating the data files.

I think this sounds

[2020-03-19 14:38] pranshuchittora commented on #1619
The idea is to build such a test suite during the course of this summer. Speaking of the integration, the idea is to integrate such a generic test suite in all the implementations of GraphQL (graphql-dotnet, graphql-ruby, etc) with the help of maintainers.

[2020-03-19 14:42] pranshuchittora commented on #1619
@BenjaBobs To perform such generic testing the only way is to spawn an instance of GraphQL server (graphql-ruby) and test it on various queries & schemas over HTTP. As all the implementations support running over HTTP.

**@ maintainers** how does that sound in terms of maintainability and community acceptance. Is there any alternative design that you would like to suggest?

[2020-03-19 15:06] sungam3r commented on #1619
Now it’s hard to say how much this will fit here. So far, there are only general theories. When some examples appear, then we can discuss.

[2020-03-19 19:54] denisedelbando opened #1620 "🐛 Upgrading to 5.1 causes method not found"
## Description
I am getting this issue in version 5.1 but not with previous versions.

```"message": "GraphQL.ExecutionError: Method not found: 'System.Collections.Generic.IEnumerable`1<GraphQLParser.AST.ASTNode> GraphQLParser.AST.GraphQLDocument.get_Definitions()'. ---> System.MissingMethodException: Method not found: 'System.Collections.Generic.IEnumerable`1<GraphQLParser.AST.ASTNode> GraphQLPar

[2020-03-19 19:58] sungam3r commented on #1620
Upgrade to 5.1 from what version?
What version of graphql-dotnet do you use?

[2020-03-19 19:59] denisedelbando commented on #1620
Sorry. from 4.1.2 to 5.1

[2020-03-19 20:00] sungam3r commented on #1620
And graphql-dotnet version?

[2020-03-19 20:03] denisedelbando commented on #1620
Parser - 4.1.2 to 5.1
Graphql dotnet - Version 2.4 (didn't change it)

Also not using dot net core

[2020-03-19 20:07] sungam3r commented on #1620
4.1.2 -> 5.1 migration has breaking changes as well as any major version bump. The graphql-dotnet version that you are using now was compiled for 3.0.0 parser, so it’s natural to expect run-time errors with the version 5.1 (even with 4.x.x). You can upgrade graphql-dotnet to the latest preview or downgrade parser back to 4.1.2.

[2020-03-19 20:18] denisedelbando commented on #1620
ok. i will check. if it fixes, then i will wait for the stable version and just use 4.1.2 for now. thank you.

[2020-03-19 21:00] sungam3r commented on #1620
Stable release will not be available soon.

[2020-03-22 17:09] pranshuchittora commented on #1619
I recommend following this thread -> https://github.com/graphql/graphql-spec/issues/698

[2020-03-22 17:22] sungam3r commented on #1619
@pranshuchittora I imagine solving a problem this way:
1. Each implementation provides "standard" GraphQL endpoint via docker container to query GraphQL server. Who should provide this container is a separate issue.
2. Test suite calls those endpoints for different implementations with various queries and builds spec compatibility map.
3. No need in _some language-independent data format (e.g. YAM

[2020-03-22 18:13] pranshuchittora commented on #1619
1. The idea is to communicate with the GraphQL server via HTTP. And the major roadblock is to send that schema file to the server from the client, because different languages have different ways to execute this.

2. Ya I agree, and it doesn't matter whether the server is running locally or in docker.

3. As per the [project idea](https://github.com/graphql/foundation/tree/master/mentorship/2020/gs

[2020-03-22 21:29] sungam3r commented on #1619
Sorry, I didn’t understand. What differences of what languages are you talking about? The test client sends requests over the HTTP protocol and receives responses. That is all. All implementation details exist only on the server side.

4. Well, this way is to spend a lot of time and just write a bunch of test requests for each section of the specification :)

[2020-03-22 21:33] pranshuchittora commented on #1619
I am thinking of a master HTTP server with a couple of endpoints exposed. This server will listen for events on various endpoints from the GraphQL client. Like

- Update the Schema/fakeData (Given schema/fakeData as payload)
- Spawn the GraphQL server with the updated schema
- Restart, kill the GraphQL instance

The client can run in either CLI (for running test in CI) or on a browser (Given maste

[2020-03-22 21:46] sungam3r commented on #1619
I imagined it easier.
We come up with a special schema for testing purposes. Schema is given as SDL. Requirements for returned data may also be described. Then each language specific repo implements this schema in some "sample" application and provides docker container with this app. Then test suite runs this container for being used by http client. So no custom endpoints, no additional logic like

[2020-03-22 21:59] pranshuchittora commented on #1619
You mean one schema and some fake data, that sounds awesome as it will reduce a lot of complexity.

Does one schema is enough for such testing?

[2020-03-22 22:18] sungam3r commented on #1619
Yes.

Why not? The task is to make such an interesting schema on which you can run all types of validations.

[2020-03-22 22:44] pranshuchittora commented on #1619
Then tests must be run synchronously as mutations can lead to changes in the data. Therefore sequence must be followed because mutating data in bad order and getting unexpected result my fail the test.

[2020-03-22 22:55] sungam3r commented on #1619
Obviously. But these are technical details.

[2020-03-22 23:06] pranshuchittora commented on #1619
True but what happens when a mutation fails in that case, all the tests ran after that will fail as well.

[2020-03-23 07:18] BenjaBobs commented on #1619
There is the possibility of resetting the database after each mutation test and not making Test B depend upon data created by Test A.

[2020-03-23 08:27] shobhitchittora commented on #1619
Also from how I see it, every implementation of the spec can have a `app` folder, where a sample server can be spawned. The repo / effort which @pranshuchittora is putting in, can have contribution of small utility libraries ( `graphql-spec-sdk` ) in respective languages ( `c#`, `rb`, .. ), which would help in spawning, initializing, restarting, the test runtime in that language.

A separate proce

[2020-03-23 09:51] sungam3r commented on #1619
@shobhitchittora This is more complicated and requires more effort. `graphql-spec-sdk` should be written as well for each language. In fact, this is all the same work, simply scattered in several places.

These are all test suite tasks. This work is not for implementations.

[2020-03-23 10:00] BenjaBobs commented on #1619
As I imagine it,
the process of doing the test would be something like this:

* Start test server
* Load test schema from `graphql-spec/test-schema.gql`
* Load seed test data into test database from `graphql-spec/data-seed.json`
* Invoke `graphql-spec/bin/graphql-spec.exe -endpoint https://localhost:3000/graphql`

And then `graphql-spec.exe` would handle all the testing, provided the endpoint of t

[2020-03-23 10:52] pranshuchittora commented on #1619
@sungam3r I think @BenjaBobs and I are on the same page. To handle all the events, we must require some way to communicate b/w the client and the server to update schema/data.

The idea you proposed i.e. to run just a graphql instance, in this case there is very less control to change/update the data on the server-side. And what happens when a mutation fails in that case, all the tests ran after t

[2020-03-23 11:16] BenjaBobs commented on #1619
Well that is why instead of comparing the actual data in the database, there should be a graphql query verifying the result.
This is because the infrastructure for doing the graphql query verification is already there, and is implementation agnostic. Doing an actual test on the database would require an extra implementation for each database implementation and data format.

Well, that is why I pro

[2020-03-23 11:18] BenjaBobs commented on #1619
In case of `graphql-dotnet` the test server could implement [EF Core with an InMemory provider](https://docs.microsoft.com/en-us/ef/core/providers/in-memory/?tabs=dotnet-core-cli) for simplicity, which will serve both as test server, and as a guide for people on how to set up `graphql-dotnet` with EF Core.

[2020-03-23 12:11] sungam3r commented on #1619
Now it’s worth asking about the testing method in https://github.com/graphql/graphql-spec/issues/698

[2020-03-24 20:20] sungam3r commented on #560
PRs are welcome.

[2020-03-24 21:46] flieks commented on #1375
And what about many to many relations (with join table). How can this be achieved?

For example i have a model `Contact` that can have multiple Companies and a Company can have multiple contacts.
Going from CompanyGraphType:
[code]
but i have no companyId i can return in the lookup because there are multiple:
![image](https://user-images.githubusercontent.com/5032389/77480087-53f89e80-6e21-11ea-91

[2020-03-25 11:07] BenjaBobs opened #1624 "Why have separate repos with dependencies to each other?"
## Summary
Currently [graphql-dotnet](https://github.com/graphql-dotnet/graphql-dotnet) and [server](https://github.com/graphql-dotnet/server) are two different repositories.
**graphql-dotnet** is the core repo, and **server** provides ASP.NET Core implementations to stand up a server easily.
Each are published to their own NuGet packages.
Each have dependencies to each other. **server** uses all

[2020-03-25 11:56] sungam3r commented on #1624
Yes, you missed some things.

1. [not important] There are even more repos - parser repo too.
2. [important]

Wrong. First, Harness is a **test** sample project. Second, Harness uses **only auxiliary** packages:
- `GraphQL.Server.Ui.Altair`
- `GraphQL.Server.Ui.GraphiQL`
- `GraphQL.Server.Ui.Playground`
- `GraphQL.Server.Ui.Voyager`

They are added there for ease of testing and experimentation. An

[2020-03-25 12:18] BenjaBobs commented on #1624
Ah, good point. I missed that, I must admit I didn't look enough into the Harness project, just had a quick look at the csproj and assumed it was a sample project using **GraphQL.Server**, my bad.

This leads me to another question: Why isn't it? Why not use **GraphQL.Server**? It essentially provides a subset of the same features.

I like the idea of separating the UI middlewares, as they are sta

[2020-03-25 12:24] sungam3r commented on #1624
To show how this can be done **manually** without external packages. It is by design.

Has there ever been such a problem? I regularly update dependencies.

[2020-03-25 12:38] BenjaBobs commented on #1624
Would that not advocate not adopting the server package?
When talking about ASP.NET Core web api, ideally the **server** packages would be used since they implement so much and are well tested.
Or am I missing something? Are you using custom web api code for your projects?
I could see the idea for non-ASP.Net Core web api's though. Console apps and such.

It seems mostly issues regarding when the

[2020-03-25 12:48] sungam3r commented on #1624
No, necause server package samples are in server repo :)

No, I use server project nugets.

This is totally different problem. All dev packages are always available from myget feed. From time to time (once a month or two) they are published to nuget feed. People are often wondering when the 3.0.0 release will be. The answer is - the work in progress, PRs are welcome.

[2020-03-25 12:52] BenjaBobs commented on #1624
I guess that answers the last of my questions, an this issue can be closed. 😄

[2020-03-25 12:52] #1624 closed

[2020-03-25 13:29] flieks opened #1625 "Many to many with dataLoader"
How can we achieve many to many with dataLoader?

Lets say i want to fetch the companies with there contacts (and a contact can have multiple companies).
I have a companyLinks as midde table (with companyId/contactId).

I have this which works when there is only 1 contact for a company:

[code]
But what if a contact has more then 1 company? How can i know the correct companyId ?

[stackoverflow](h

[2020-03-26 14:58] WellspringCS commented on #800
Joe, thank you again for this awesome tool and the example code for testing. Don't know if this will prove helpful for the next guy, but I can add a thought and then ask a question.

The thought is this: I lost about 6 hours yesterday with this error message

[code]
I finally solved it after changing class GraphQLRequest to have the Query property be lower case 'query'

Such is life, sometimes.

M

[2020-03-26 15:09] sungam3r commented on #800
What exactly do you propose to do?

I see you use `GraphQL.Server.Transports.AspNetCore.SystemTextJson` so I guess you can call
[code]

[2020-03-26 15:19] WellspringCS commented on #800
You give me way too much credit, and please understand I wasn't proposing anything. I was, as a noob, asking for any short words of guidance as to how I can better analyze queries and figure out why GraphQL doesn't like them.

Full disclosure -- not sure where I would use that line of code you posted. :flushed: So, for instance, where would I have put that line.

Not asking for lots of advice, mor

[2020-03-26 21:27] sungam3r commented on #800
You can always use general purpose http request tracing.

In your startup after call to `.AddGraphQL`: https://github.com/graphql-dotnet/server#configure

[2020-03-26 22:19] WellspringCS commented on #800
Thx much @sungam3r  I've given your suggestions a whirl, and I think the takeaway is for me to learn "a query is required" means... wait for it... it couldn't find a query.

After adding an UnhandledExceptionDelegate i was able to trap the error in flight, but it still just reported that "a query is required". So maybe general purpose http request tracing is the way to go, since a custom Unhandled

[2020-03-29 09:42] #1603 closed

[2020-03-29 09:46] sungam3r commented on #1597
Closed due to lack of feedback.

[2020-03-29 09:46] #1597 closed

[2020-03-29 09:47] sungam3r commented on #1560
Closed due to lack of feedback.

[2020-03-29 09:47] #1560 closed

[2020-03-29 09:48] sungam3r commented on #1335
Closed due to lack of feedback.

[2020-03-29 09:48] #1335 closed

[2020-03-29 09:49] sungam3r commented on #1264
Closed due to lack of feedback.

[2020-03-29 09:49] #1264 closed

[2020-03-29 09:49] sungam3r commented on #1309
Closed due to lack of feedback.

[2020-03-29 09:49] #1309 closed

[2020-03-29 09:50] sungam3r commented on #1298
Closed due to lack of feedback.

[2020-03-29 09:50] #1298 closed

[2020-03-29 09:52] sungam3r commented on #1288
Closed due to lack of feedback.

[2020-03-29 09:52] #1288 closed

[2020-03-29 09:53] sungam3r commented on #1215
Closed due to lack of feedback.

[2020-03-29 09:53] #1215 closed

[2020-03-29 10:08] sungam3r commented on #1006
Closed due to lack of feedback.

[2020-03-29 10:08] #1006 closed

[2020-03-29 10:11] sungam3r commented on #672
Closed due to lack of feedback.

[2020-03-29 10:11] #672 closed

[2020-03-29 10:13] sungam3r commented on #619
Also recently I added documentation here https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Types/Scalars/ScalarGraphType.cs

[2020-03-29 10:13] sungam3r commented on #619
Closed due to lack of feedback.

[2020-03-29 10:13] #619 closed

[2020-03-29 10:15] sungam3r commented on #611
Closed due to lack of feedback.

[2020-03-29 10:15] #611 closed

[2020-03-29 10:18] sungam3r commented on #572
Closed due to lack of feedback.

[2020-03-29 10:18] #572 closed

[2020-03-29 10:20] sungam3r commented on #333
Closed due to lack of feedback.

[2020-03-29 10:20] #333 closed

[2020-03-29 10:22] sungam3r commented on #964
Closed due to lack of feedback.

[2020-03-29 10:22] #964 closed

[2020-03-29 10:24] sungam3r commented on #1620
@denisedelbando I'm closing this issue. If you cannot solve the problem, please contact again.

[2020-03-29 10:24] #1620 closed

[2020-03-29 10:27] sungam3r commented on #1542
@Shane32 It is possible that after checking the behavior it is worth making an explicit comment in the documentation. If you want, you can write a test and documentation. Otherwise I will do it someday myself.

[2020-03-29 14:39] Shane32 commented on #1542
I'm a bit swamped at work right now.  And if I have free time, I'd like to spend it working on the upgrade documentation.  This should probably be noted alongside the docs you pushed recently ( #1616 ).

Personally, I'd also put this feature on a wish list, and consider changing the functionality if someone posts a reasonable PR.

[2020-03-30 19:46] bugged84 opened #1626 "GraphQL.ObjectExtensions.ToObject(this source, type) does not consider properties having "new" keyword"
## Description

When calling `GetArgument<T>("name")`, internally the `GraphQL.ObjectExtensions.ToObject(this source, type)` method is called to deserialize the specified argument into an object of type `T`. However, that method internally calls `type.GetProperty("name")` which raises an `AmbiguousMatchException` when type `T` is a type having the specified property decorated with the `new` keywor

[2020-03-30 20:25] sungam3r commented on #1626
The code you provided in the picture does not correspond to the master branch. I added a test demonstrating that everything already works the way you want. Nevertheless, the way to get the property remains the same as in the picture, so I don’t understand why you get such an error.

[2020-03-30 20:48] bugged84 commented on #1626
@sungam3r the code provided in the picture corresponds to the latest version of the Nuget package that is available (i.e. 2.4.0).

Here is the stack trace evidence of error.

[code]

[2020-03-30 21:04] bugged84 commented on #1626
@sungam3r I've updated the "steps to reproduce" in the issue description to make your test fail.

[2020-03-30 23:20] sungam3r commented on #1626
What is inside `ctx.Arguments` ?

[2020-03-30 23:23] sungam3r commented on #1626
It is the last _stable_ (and rather old) version. There are many preview versions not only on myget feed but also on nuget.

[2020-03-30 23:25] sungam3r commented on #1626
What is your runtime?

[2020-03-31 02:15] bugged84 commented on #1626
@sungam3r I'm not going to use a preview version. If the latest stable version is "rather old" as you say then maybe it's time for a new release of the library.

`<TargetFramework>netcoreapp2.2</TargetFramework>`

[2020-03-31 08:09] BenjaBobs commented on #1082
Since the next version will have a lot of breaking changes anyway, this would be a good time to consider if this is something to be acted upon.

[2020-03-31 09:35] sungam3r commented on #1626
I need this to write test.

[2020-03-31 09:40] sungam3r commented on #1626
Regarding your example. `MyChildDerivedType` does not inherit `MyChildBaseType`. Is that what you intended?

[2020-03-31 09:44] sungam3r commented on #1626
Nevermind, I reproduced the error.

[2020-03-31 09:57] sungam3r commented on #1626
I fixed the error, the fix will appear in the next preview version.

Regarding pathing bugs in 2.4.0. We do not release patched verions for 2.4.0 and it will remain as it is.

[2020-03-31 10:05] sungam3r commented on #1626
Published as 3.0.0-preview-1627

[2020-03-31 10:05] #1626 closed

[2020-03-31 12:13] dillanmann opened #1628 "Add DataModel First support for FederatedSchema"
## Summary

Make it possible for consumers of graphql dotnet to create a federated schema using the model first approach. Currently it is only possible to create a federated schema using the 'Schema First' approach.

#1233 provided the initial support for FederatedSchema but this only works for Schema First.

### Basic example
Currently the FederatedSchema is created by doing:
`FederatedSchema.For

[2020-03-31 13:49] sungam3r commented on #1082
I think that there is no choice now. After merging #993 any date(time) formatted not as just `1000-10-10` will throw `FormatException`.

[2020-03-31 14:05] sungam3r commented on #1082
@pavel-usachev @RehanSaeed @BenjaBobs As I said now actual result for test example looks like
[code]

[2020-03-31 14:07] BenjaBobs commented on #1082
So does this mean that `DateTime` will keep pointing to `DateGraphType`?

[2020-03-31 14:13] sungam3r commented on #1082
Of course not.

[2020-03-31 14:51] #1082 closed

[2020-03-31 16:06] bugged84 commented on #1626
For anyone interested in a workaround for the latest stable version (2.4.0) you can add the following extension method to your code. It uses Newtonsoft.Json to deserialize the specified context argument on a case by case basis (by default it will use GraphQL.NET to deserialize the context argument).

[code]

[2020-03-31 16:08] bugged84 commented on #1626
Thanks @sungam3r

[2020-03-31 17:49] andrejohansson opened #1630 "How do I register a generic base interface without name collisions?"
## Summary

I want to do the following:

- Register an ``InterfaceGraphType<T> where T: IBaseEntity`` where ``IBaseEntity`` contains some very generic fields (Id, Created and Updated)
- Create an abstract generic base object to inherit from so that my object types does not have to implement the same fields over and over again
- Inherit this base object class from different types
- I want the inter

[2020-03-31 18:24] BenjaBobs commented on #1630
With the current code the interface is being registered multiple times due to the generics. What you could do is interface with the base type instead:
`this.Interface<BaseEntityInterface<IBaseEntity>>()`

That way, the type being registered will be the same, so it will only be registered once, and that should solve your name collision problem while still allowing you to access the needed fields, p

[2020-03-31 18:50] sungam3r commented on #1630
All types in GraphQL **must have unique names**. Which ones? You choose yourself. I see that you do not specify them, so the names are inferred by default from the type are used. You can set type name with just `Name = "blablabla";` to avoid any conflicts. For a better understanding of what schemа you have (names), you can open it with GraphQL Playgroud, GraphiQL, Altair or any other UI tool.

[2020-04-01 09:56] andrejohansson commented on #1630
@BenjaBobs tips was the right for me, setting the BaseInterface solved my issue. Thank you both for your response!

[2020-04-01 09:56] #1630 closed

[2020-04-01 11:20] andrejohansson opened #1631 "Is there any package that autogenerates filters and mutations?"
## Summary

I have been working with graphql in Rust for a while, and there is a nice package called [wundergraph](https://github.com/weiznich/wundergraph). When using that package I can define three models:

- My entity
- An input model for a new entity (which may have less/other fields and the complete entity)
- A changeset model which essentially is the entity with all optional fields (so that

[2020-04-01 16:48] sungam3r commented on #1631
Are you generate schema from code?

[2020-04-01 22:02] andrejohansson commented on #1631
Yes, I create the types in [code first](https://graphql-dotnet.github.io/docs/getting-started/introduction#graphtype-first-approach).

[2020-04-02 00:15] sungam3r commented on #1631
Generally there are a number of graphql code generators. See #1424 , #576 and others. The main scenario that interests people is graphql **client** code generation from the graphql schema obtained from introspection/SDL. I understand that you have a different situation. You want to generate a GraphTypes **for server** from the DTO / Entities / Models. Do you? If so, then I do not know such generat

[2020-04-02 07:21] BenjaBobs commented on #1631
Iirc most people around here that use such generators haven't open sourced them. In my company we use such a generator to generate pretty much the whole schema based on classes that derives from `Entity` or `Relation` and attributes on their properties.

[2020-04-02 08:22] sungam3r commented on #1631
Yes, the same situation. But this is due only to the great work that needs to be done, and there is always not enough time.

[2020-04-02 13:11] flieks commented on #1625
Is there any workaround for this issue ?
Will it be available in the next version ?

[2020-04-02 13:23] sungam3r commented on #1625
I understand that dataloader utility makes it possible to group requests by key, then to call the delegate 1 time with the array of keys. Dataloader makes no assumptions about what is going on inside the delegate and how you group your data inside it. It is out of dataloader's scope.

[2020-04-03 13:35] JinGangRed opened #1633 "Is there a helper method that can be auto generate fields for GraphType according the BaseEntity"
## Summary

According the document, if we want add the fields to a graph type from a reference class, we have to add the class's fields one by one. And this is very tedious work.

It will be better to add a new feature that can be add the fileds according the Generic class  by Reflection .

### Basic example

Here is my implatements, maybe not perfect. Looking forward to your guidance.
[code]

The

[2020-04-03 15:47] sungam3r commented on #1633
Maybe [AutoRegisteringObjectGraphType](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs) ?

[2020-04-04 01:57] JinGangRed commented on #1633
Yeah, that is it.

[2020-04-04 09:10] sungam3r commented on #1633
OK

[2020-04-04 09:10] #1633 closed

[2020-04-05 23:01] flieks commented on #1625
@sungam3r great, your hint put me to think about how to solve it in the delegate. I just have to start from the join-table (connecting both tables).
Solution for the above query:
[code]

[2020-04-05 23:01] #1625 closed

[2020-04-06 18:01] yuchen-w opened #1634 "What is the correct way of returning error messages in subscriptions?"
I'm trying to add some sort of error handling on the backend which exposes the reason for queries failing.

While what is documented [here](https://graphql-dotnet.github.io/docs/getting-started/errors) works great for queries, I have not been able to get it to work with subscriptions. When I throw an exception in the subscription, I get a generic

 in the error message that is returned in the play

[2020-04-06 18:24] sungam3r commented on #1634
Make sure that you set `options.ExposeExceptions = true;`, then you can find details inside response.

[2020-04-06 19:42] ibramn opened #1635 "Ignoring argument validation error when custom field validation rule exist"
I have a mutation to register a user that takes one argument of type `RegisterInputType`.

**Mutation**
[code]
and I added a custom validation rule for the email to be required
**RegisterInputType:**
[code]

but when I send the email with value null it returns tow validation errors, one for the model argument and the other for email field

**Query:**
[code]

**Result**
[code]

I want to disable or

[2020-04-07 08:09] yuchen-w commented on #1634
@sungam3r yep I've done that already. I have the following enabled
options.ExposeExceptions = true,
options.ThrowOnUnhandledException = true,

[2020-04-08 09:49] benmccallum opened #1637 "Sort `errors` first in serialized result"
## Summary

Spec recommends errors (if present) should come first to help notice them. I just had a situation where I didn't notice errors were happening as they were showing after the data.
http://spec.graphql.org/June2018/#sec-Response-Format

### Motivation

Improve DX.

### Implementation

Would need to take a look, but I image the `IDocumentWriter` impls would need to do this and we'd need to

[2020-04-08 09:51] benmccallum commented on #1637
Gonna quickly look at doing this now. Feel free to assign to me @sungam3r

[2020-04-08 11:00] mastery-preeti-bhambhani commented on #1628
With reference to the example given in [#1233](url) (Accounts service in .Net), I have a few questions:
1. Querying data fails when class Query is renamed to something different. Is this a mandatory requirement?
2. This part of code is never executed. When is this required?
[code]

3. How can I implement a query method with arguments to run the below query
[code]

[2020-04-08 17:37] sungam3r commented on #1637
Interesting observation. I didn’t notice.

[2020-04-08 17:41] #1637 closed

[2020-04-08 17:57] joshuapetryk commented on #648
Adding my two cents here:
We are trying to use this graphql library with Asp Dotnet Core, Entity Framework Core, and Asp Dotnet Identity.

Unfortunately Identity makes heavy used of Scoped DbContext and to switch it to Transient would require rewriting some fundamental Identity library code.

We are experiencing a myriad of issues where DbContext seems to behave as a Singleton when set to Scoped.

[2020-04-08 18:20] Palpie commented on #271
I'm having problem with this in 3.4.0. Do I need to do something to get the fix to work?

I've tried different formats and all of them becomes null:

- "2020-04-07T22:00:00.000Z"
- "2020-04-07T22:00:00.000+02:00"
- "2020-04-07T22:00:00"

I use this in a "custom fields" part, where the clients can send client specific data for a user in a array of key/value objects. Works fine, except for with date

[2020-04-08 18:43] mamasselin commented on #271
Maybe look at your serialization settings as mentioned in #1204

On my end, I ended up creating a custom type based on`StringGraphType` and override the `ParseLiteral` method as below:

[code]

Then I use this in my input types instead of the regular `StringGraphType` so that even when passing an ISO 8601 formatted string, it keeps it as a string.

Not sure how good or bad this is but it resolved

[2020-04-08 19:20] Palpie commented on #271
It solved it for me too so I'm happy!

Thanks for your help!

[2020-04-08 19:23] sungam3r commented on #648
What is a problem with `DocumentExecuter` being singleton?

[2020-04-08 20:19] Shane32 commented on #648
@joshuapetryk You've got a couple easy solutions here:

1. Register all the GraphQL services as scoped.  Bad for performance, but you can use DI for anything and everything you want to utilize within the graphs.  Probably not every GraphQL service needs to be scoped (i.e. I'm not sure about `DocumentExecuter` at the moment), but certainly the schema and graphs need to be.
2. Register all the Graph

[2020-04-09 00:34] joshuapetryk commented on #648
We call the DocumentExecuter as part of a GraphQlController. EF Core DbContext when set to Scoped lifetime is only newing on first web request and all subsequent web requests are utilizing the same DbContext instance. When switching DbContext to transient it behaves correctly and news up with each dependent service. This seems to suggest that DbContext when Scoped is actually following the Singlet

[2020-04-09 04:31] sungam3r commented on #648
@joshuapetryk  This is not **built-in** EF Core behavior. Probably you misconfigure DbContext such a way that it become to act as singleton. Please show yoy configuration before changes.

[2020-04-09 06:52] benmccallum commented on #648
I'm guessing he was just trying to use constructor injection `public CustomQuery(HisDbContext dbContext)`, in which case it would've been forced to me a singleton (being a dep of a singleton), regardless of any EF Core configuration.

.NET Core 3+ does a better job of failing/alerting on these kinds of things upfront rather than us having to discover it at runtime when some weirdness is happening.

[2020-04-09 07:43] PoorDesigner opened #1639 "decimal precission issue in graphql"
I am using GraphQL nuget package in one of my project. The version is 2.4.0.

When I am passing the decimal value as 12.10 the graphql is somehow transforming that into 12.1
If i send something like 12.11 then its coming as 12.11 but not when the last digit is zero. Is there something that i need to change in my code to get it working?

GraphQL decleration

`            Field(x => x.percentage, nu

[2020-04-09 09:45] sungam3r commented on #648
I think too.

[2020-04-09 09:46] sungam3r commented on #1639
Please read warning section first https://github.com/graphql-dotnet/graphql-dotnet#installation

[2020-04-09 13:03] Shane32 commented on #648
If `CustomQuery` ** or ** `Schema` is a singleton, you will see the behavior you described above, where `IServiceProvider` (and any other dependency) is created as part of the root scope, rather than the executing context's scope.  The sample code you posted should work well for your needs.

[2020-04-09 13:33] joshuapetryk commented on #648
We are .Net Core 2.2 - thanks for the help! This was a very obscure behavior for us.

[2020-04-09 18:13] almazik opened #1640 "Schemas containing type or field description fail to be parsed correctly"
## Description

The attempt to parse schema with description tokens results in exception

### Steps to reproduce

[code]

### Expected result

Documentation should either be ignored or parsed into the corresponding fields

### Actual result

Exception

[code]

### Environment

.NET Core 3.1, graphql-dotnet 3.0.0-preview-1490

[2020-04-09 20:12] ificator commented on #755
Has anyone managed to implement defer style behavior using GraphQL-dotnet? I have a scenario where it looks like it would be useful but it seems like we'd have to essentially write our own `DocumentExecutor` (and possible lower layers).

[2020-04-09 21:12] sungam3r commented on #1640
1. Relates to https://github.com/graphql-dotnet/parser/issues/33
2. Did you intentionally use duplicate double quotes? http://spec.graphql.org/June2018/#sec-Descriptions talks about `"""` for block descriptions and `"` for single line descriptions.

[2020-04-10 07:45] almazik commented on #1640
1. yes, agree, noticed parser issue once I started digging into the source code.
2. duplicate quotes here are just C# escape symbols for verbatim strings (@"..."), the resulting string constant is

[2020-04-11 08:29] jsantha opened #1641 "Option to skip serialization of exception data to prevent leaking sensitive information"
## Summary

Similary to `ExposeExceptions` allow to disable serialization of [Exception.Data](https://docs.microsoft.com/en-gb/dotnet/api/system.exception.data) that can contain sensitive data.

### Basic example

[code]

### Motivation

Certain exceptions can possible leak sensitive information through [Exception.Data](https://docs.microsoft.com/en-gb/dotnet/api/system.exception.data).

In the ex

[2020-04-11 09:57] sungam3r commented on #1641
I understand what you want, but let's first clarify one thing. `ExecutionResultJsonConverter` (in fact both of STJ and NSJ) fills `data` property only for "top-most" `ExecutionError`.  Please check source code. `Microsoft.Data.SqlClient.SqlException` can not be such top-most `ExecutionError`, it can only be `InnerException` inside `ExecutionError`. But the converter does not serialize data from in

[2020-04-11 10:23] jsantha commented on #1641
I understand but that doesn't seem like my case.

In my case:

1) [ExecutionStrategy.cs#L241](https://github.com/graphql-dotnet/graphql-dotnet/blob/v2.4.0/src/GraphQL/Execution/ExecutionStrategy.cs#L241) constructs `ExecutionError` with unhandled exception `Microsoft.Data.SqlClient.SqlException`
2) And here [ExecutionError.cs#L31](https://github.com/graphql-dotnet/graphql-dotnet/blob/v2.4.0/src/Gr

[2020-04-11 10:41] sungam3r commented on #1641
You're right, I completely forgot about it.

[2020-04-14 14:37] forfront opened #1642 "graphql/ui/playground - Error: "GraphQL.ExecutionError: A query is required" (requests from postman work)"
Hi,

I am new to GraphQL. I have got it all working with queries, mutations and JWT authentication (tested using Postman), however navigating to graphql/ui/playground returns the following error:

`{"errors":[{"message":"GraphQL.ExecutionError: A query is required.\r\n ---> GraphQL.ExecutionError: A query is required.\r\n   at GraphQL.DocumentExecuter.ValidateOptions(ExecutionOptions options)\r\n

[2020-04-14 21:55] SimonCropp opened #1643 "Cant run the docs locally"
when i visit any page i get

[code]

![image](https://user-images.githubusercontent.com/122666/79278163-852f3080-7eee-11ea-8621-85b70a40a340.png)

any ideas?

[2020-04-15 13:34] sungam3r commented on #1643
I once wanted to generate up-to-date documentation, but it didn’t work out for me (if we are talking about docs generation).

[2020-04-15 21:06] sungam3r commented on #1642
1. First please show request text on server side.
2. Next you may upgrade to the latest graphql-dotnet and server **preview** packages.

[2020-04-15 22:08] Teletraan1 opened #1644 "Resolving InputObject Field with Different Name"
##Summary
Quick note: I did my best to search the issues list, and the docs. The "Aliases" section of the docs seems to indicate this is possible, but I may be missing something.

I am trying to provide a complex input object that contains a field with an aliased name from what the POCO property is named; however, it seems to only map correctly if the name is the same as the property.

## Relevant

[2020-04-15 22:47] MartynasZilinskas opened #1645 "FederatedSchemaPrinter: directive is missing when printing extended type."
## Description

When extending specific type that's in another service, it loses directive.

### Steps to reproduce

[code]

Repro repo: https://github.com/MartynasZilinskas/graphql-dotnet-repro-2020

### Expected result

It should leave directives as it is.

### Actual result
FederatedSchemaPrinter prints without directive, because the type is extended.
[code]

### Environment

- GraphQL version:

[2020-04-15 23:11] mikehkk opened #1646 "GraphQL Unit Testing of MUTATION"
Hello,

Have been writing a lot of QUERY ut's successfully around this sample pattern:

      [Fact]
      public async Task hero()
      {
          await run(_ =>
          {
              var input = new GraphQLRequest
              {
                  Query = @"{ hero { name} }"
              };
              _.Post.Json(input).ToUrl("/api/graphql");
              _.StatusCodeShouldBe(HttpStat

[2020-04-16 04:48] sungam3r commented on #1644
Try the latest preview from myget feed. This issue has been fixed.

[2020-04-16 04:53] sungam3r commented on #1646
Just append `mutation`:
[code]

[2020-04-16 07:46] MartynasZilinskas commented on #1645
I think the problem is in this line:
https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs#L45

Because `User` type has `__EXTENSION_AST_MetaField__` instead of `__AST_MetaField__`, so that line returns null.

[2020-04-16 15:15] mikehkk commented on #1646
Thanks, but the above doesn't include a VARIABLE definition.  Give you and idea, here's a representation of what I'm trying to pass (it's the MUTATION instruction and the companion VARIABLE that informs it:

mutation($newItem: ItemType!) {
  createItem(item: $newItem) {
    name
    model
    number
  }
}

{
  "newItem": {
    "name": "itemName",
    "model": "itemModel",
    "number": 500001
  }

[2020-04-16 15:31] cronin101 opened #1648 "maxRecursionCount in ComplexityAnalyzer is not configurable"
We're seeing some complex queries failing with `Query is too complex to validate`, triggered in this validation path:
[code]

In `ComplexityAnalyzer`'s constructor, this is set to 250 and says "adjust as needed":

[code]

However, [only the default constructor for `DocumentExecuter` is called](https://github.com/graphql-dotnet/graphql-dotnet/search?p=1&q=%22new+DocumentExecuter%22&unscoped_q=%22ne

[2020-04-16 15:42] cronin101 commented on #1648
On further debugging, it seems this is only an issue when a `ComplexityConfiguration` has been provided. So a workaround for anyone else suffering this (Hello search engine results! 👋) is to remove any custom `ComplexityConfiguration` setting and leave this null, then the query will not be validated at all.

It still makes sense to allow this value to be tuned though, for use-cases requiring valid

[2020-04-16 19:17] Teletraan1 commented on #1644
This did the trick. Thanks for the quick reply!

[2020-04-16 19:17] #1644 closed

[2020-04-17 07:37] sungam3r commented on #1646
See for example this test https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL.Tests/StarWars/StarWarsBasicQueryTests.cs#L321

[2020-04-17 09:45] sungam3r commented on #1648
Well, you can always call parametrized ctor. Moreover, `DocumentExecuter` is "DI ready" for injecting custom analyzers. See [this](https://github.com/graphql-dotnet/server/blob/develop/src/Core/ServiceCollectionExtensions.cs#L30) - you can configure your DI container with custom `IDocumentBuilder`, `IDocumentValidator` and `IComplexityAnalyzer`. In your case first and second will be just default o

[2020-04-17 15:56] GrangerAts commented on #1641
As a workaround, you might try doing this in your controller/middleware before it's returned for serialization:
[code]

[2020-04-17 16:26] DavidKiff commented on #1634
I have the same issue... ExposeExceptions doesn't actually expose exceptions, it just controls whether the stack trace is exposed, from what I gather.

Inside the SubscriptionExecutionStrategy , there is code that catches any exceptions in the stream, ignores any errors you've set on the context.Errors collection and ignores the exception details too!  Instead, it creates its own exception with it

[2020-04-17 16:43] aaron-c2 opened #1649 "How to access UserContext in Query with Schema First approach"
Hi, sorry if this is a simple question but I haven't been able to find an answer in the examples. I've used this library before and had a Controller with a snippet similar to the below to pass the User Context.
[code]
Then the user context is visible on the field resolver.
I've recently picked up an API which is using the Schema first approach, so no controllers at all and I don't understand how t

[2020-04-17 17:19] GrangerAts opened #1650 "ExecutionError: Differentiate between client and server error."
## Summary

As the author of a GraphQL.Net API, it would be very helpful to be able to differentiate between an ExecutionError where the **Api-author screwed up** as opposed to when the **Api-client screwed up**. Presently, one needs to hard-code checks to exception messages found in the GraphQL.Net source code, which is a brittle approach.

### Basic example

Implement a `FieldAsync<ListGraphType

[2020-04-18 18:37] cameverett commented on #777
Hey everyone - I realize I have jumped the gun on opening up a pull request for this one seeing as it was previously assigned.

I am more than happy to close the pull request and first express interest If this issue is active and up for grabs.

[2020-04-18 19:18] Shane32 commented on #777
It’s no problem. I’m actually more working on the migration documentation and anything you have to offer I can also integrate into the migration documentation where applicable.

[2020-04-18 22:20] sungam3r commented on #777
@joemcbride Could you please regenerate docs site? I could not install/configure the necessary tools.

[2020-04-21 04:15] denisedelbando commented on #281
In case anyone comes in here and still can't figure it out, I got it working:
[code]
sample result.
![sc-20200421000859-chrome](https://user-images.githubusercontent.com/3780000/79824835-34dc2680-8365-11ea-8b32-391e084edd9d.png)

[2020-04-21 04:18] denisedelbando commented on #329
this helped me solve the error handler. thank you

[2020-04-21 04:21] denisedelbando commented on #1620
this is fine. using 5.1 was the issue

[2020-04-21 04:55] denisedelbando commented on #495
Hello guys. Here is a sample that got it working for me..
So our entire site has a ServiceException that returns business error codes, proper http status and custom error message. this is how we are catching it.

[code]
Sample result
![sc-20200421004006-chrome](https://user-images.githubusercontent.com/3780000/79826846-c732f900-836a-11ea-83b0-a6ee9256a0c3.png)

[2020-04-22 13:46] CyrilleFormont commented on #1169
Any update on schema federation ?

[2020-04-22 14:18] sungam3r commented on #1169
Nope.

[2020-04-22 14:28] d-led commented on #1169
I guess, now one can simply use the GraphQL Mesh to transform an existing endpoint into a Federation-conforming one https://graphql-mesh.com/docs/transforms/federation/

[2020-04-22 15:16] DavidKiff commented on #1244
If the subscription is over web sockets, then the handshake is over HTTP, sadly that handshake doesnt allow authorization headers.  You will need to send the token another way (i.e. perhaps in the URL as a query string, assuming you have SSL!).

[2020-04-22 19:05] rs-anders-agren commented on #1244
I see now that I wrote "upgrade process" but that part is actually done when the `connection_init` message is sent. My bad.

But the real problem (at least for us) was to hook in to the subscription initialization process. Turned out it was pretty simple after all. Just sub-class `IOperationMessageListener` and check if the init process has kicked in:
[code]

Then you just add the listener as a tr

[2020-04-22 19:31] #1645 closed

[2020-04-22 20:49] sungam3r commented on #1244
@rs-anders-agren You're right. I added this issue to the list of known issues.

[2020-04-22 20:49] #1244 closed

[2020-04-22 21:15] sungam3r commented on #1579
Closed due to inactivity.

[2020-04-22 21:15] #1579 closed

[2020-04-22 21:16] sungam3r commented on #1639
@PoorDesigner Did you manage to solve this issue?

[2020-04-22 21:18] sungam3r commented on #1650
First, I can not find `InvalidValueError` in the current codebase. Second, I think (generally) there are only **Api-author errors** at the execution stage and only **Api-client errors** at the validation stage. It seems to me that you are trying to solve the problem by inappropriate means.

See this https://github.com/graphql/graphql-spec/issues/698

[2020-04-22 21:24] GrangerAts commented on #1650
Sorry, I meant `InvalidValueException` (fixed above). ([here](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Execution/InvalidValueException.cs))

There are multiple places in the GraphQL.Net codebase where **Api-author errors** throw `ExecutionError` exceptions, which is the exact same exception thrown when the problem is an **Api-client error**; those were some of the e

[2020-04-22 22:57] GrangerAts commented on #1650
If there's another way to differentiate, please let me know so I can use it---instead of combing the GraphQL.Net source code for Exception.Message values to put into a bunch of "if" statements. Consider my example above. That sort of error has no business going to the client, but it's reported in the Errors collection just like any other request validation error. I know of no location/way to blind

[2020-04-23 19:16] sungam3r commented on #1650
I think that error codes will solve this issue (when accepted by graphql working group).

[2020-04-23 19:55] GrangerAts commented on #1650
That error-code spec is for client-side issues and will not solve the problem at all.

E.g. why would the GraphQL working group define a code for "Must provide an enter or leave function."? ...or "Unhandled document definition"?  It's entirely custom to the implementation of the GraphQL.Net library.

[2020-04-23 20:46] sungam3r commented on #1650
So you can distinguish situations by the absence of known client codes. Or according to the availability of server codes, which we can add after the concept of codes appears in the specification.

[2020-04-23 20:49] sungam3r commented on #1650
So as a conclusion I suppose to use codes **inside** existing `ExecutionError` instead of scattering `ExecutionError` to different subclasses or especially to `InvalidOperationException` or other "outer" exceptions.

[2020-04-23 22:32] GrangerAts commented on #1650
I'm not in favor of sub-classing, nor am I in favor of doing "outer/inner" exceptions that involve `ExecutionError`. What I want is GraphQL.Net to simply throw a non-`ExecutionError` exception when it's the Api-author's fault. It's confusing to hide server-side errors in a client-side error object.

Here are some significant problems with putting server-side errors in a client-side object (the "co

[2020-04-23 22:53] sungam3r commented on #1650
Why did you decide that `ExecutionError` describes client-side error object only?

1. IIRC all aforementioned _appropriately_ used exceptions are wraped inside `ExecutionError` later.
2. I do not think this will be breaking changes. Maybe not.
3. We can always use generic `INTERNAL_ERROR` code as default for whatever server unknown exception.
4. I understand that.

Each `ExecutionError` has `Code`

[2020-04-23 22:55] sungam3r commented on #1650
@joemcbride Could you share your opinion, please? I can be shortsighted in my judgments.

[2020-04-23 23:02] GrangerAts commented on #1650
Because that's what's in the `ExecutionResult` (`.Errors` collection) that's returned to the client.

As for checking `ExecutionError.Code` to determine if the error is actually intended for the client vs the server, I don't know what to reliably check for. I just started browsing the 'master' repo source code (as of 2020-04-23) for GraphQL.Net and here's my raw/quick listing I've got so far (I ha

[2020-04-23 23:19] sungam3r commented on #1650
$"Cannot convert '{serialized}' value to AST for type '{type.Name}'."   - this one can be both user-error and api-error.

I see that you want more information. So let's add it. Take for example "Cannot return null for non-null type." We can do something like
[code]

We need to come up with a code naming system. And then use these codes in all places. I pointed you to spec proposal as an example of

[2020-04-24 03:36] bugged84 opened #1652 "ExecutionError.Data property fails when adding an entry with non-string key"
## Description

When attempting to enrich a `GraphQL.ExecutionError` exception with additional information using the Data property from the base `System.Exception` class then a `System.ArgumentException` is raised.

The overridden `Data` property fails to satisfy the `IDictionary` interface at runtime.

![image](https://user-images.githubusercontent.com/23638686/80172371-74e41900-85b2-11ea-840e-ee

[2020-04-24 17:47] #1372 closed

[2020-04-26 11:15] mac2000 commented on #1169
Nope, mesh wont help here very much (yes you will be able to run in as a simple proxy over your services and all you clients suddenly will have single entry point but it wont help you at all connecting all types between each other), project used underneath https://github.com/0xR/graphql-transform-federation is what your are looking for if you wish to somehow make everything work together

Meanwhil

[2020-04-26 13:04] d-led commented on #1169
@mac2000 indeed, there's the federation transform, but it doesn't allow the `resolveReference` config to be useful. However, I've successfully used their schema extensions and stitching

[2020-04-26 13:19] d-led commented on #1169
@mac2000 I've created an example her with the schema extension: https://github.com/d-led/graphql_mesh_federation_test
I'd expect the federation transform to be able to do that out of configuration

[2020-04-26 17:44] #1652 closed

[2020-04-26 17:49] #1648 closed

[2020-04-26 17:50] sungam3r commented on #1648
@cronin101 You can try the latest preview.

[2020-04-26 17:51] sungam3r commented on #1646
@mikehkk Do you need more help?

[2020-04-26 20:21] sungam3r commented on #1635
1. Your validation rule is redundant. The built-in validation rule solves `Email = null` problem.
2. GraphQL.NET has a set of standard validation rules and **I strongly do not recommend disabling any of them**.
3. You **can** set any validation rules in `ExecutionOptions.ValidationRules`. In the server project it's done like [that](https://github.com/graphql-dotnet/server/blob/develop/src/Core/Int

[2020-04-27 01:13] #1635 closed

[2020-04-27 06:18] sungam3r commented on #1641
I am considering an option to make this a serializer property, not `ExecutionOptions`. I also think that in fact, `ExposeExceptions` is also a serializer property. These properties are used only during serialization, and before that they are only transmitted along the call chain. In addition, the presence of the `ExposeExceptions` property inside `ExecutionResult` looks rather strange. It is locat

[2020-04-27 13:04] Shane32 commented on #1641
I'm glad you asked -- I was running into issues with exceptions within the last few days.  (More relating to #1650 )

I'd like to see a separate service for serializing exceptions.  For example, `IExceptionSerializer`.  The default implementation (`ExeceptionSerializer`) can optionally accept a parameter of type `ExecutionSerializerOptions` (or an `Action<ExecutionSeriailzerOptions>`) without need

[2020-04-27 15:12] sungam3r commented on #1641
I understand what you are talking about. I also considered this option. It is essentially about getting rid of small separate settings and putting all the serialization of errors into a separate component that you can change or modify individual parts (through inheritance/override).

This will require thoughtful refactoring, as the areas of responsibility are not so obvious. Pay attention that `ID

[2020-04-27 15:28] sungam3r commented on #1604
Relates to [comment](https://github.com/graphql-dotnet/graphql-dotnet/issues/369#issuecomment-314830399) about API for definining fields.

@joemcbride What are you think about refactor fields API? Optional parameters cause difficulties for many users, since the effect of their use is not obvious. Many overloads complicates the situation. I would try to somehow simplify the API if you do not mind.

[2020-04-27 16:07] Shane32 commented on #1641
I'll do a PR tonight, so long as you think this sounds feasible that it will be pulled.  I'm really busy and this will probably take a couple hours or more so I don't want to work on it if it's a non-starter.  (Not asking for a commitment of course, just a reasonable expectation, assuming the code works out like we are thinking.)

[2020-04-28 02:58] Shane32 commented on #1641
I had time so I did it anyway.  I hope it will be useful.

[2020-04-28 13:56] GrangerAts commented on #1650
Instead of inventing the `{ Code = "SERVER_ERROR:123" }` paradigm (which isn't going to follow any GraphQL spec that may or may not eventually become ratified), just change it to a normal Exception.

If people want to expose those exceptions to the world, they just set `ExecutionOptions.ThrowOnUnhandledException` to `false` and GraphQL.Net does what it does now: wrap the normal exception in the `E

[2020-04-28 14:28] GrangerAts commented on #1641
Considering my thoughts in #1650, you can guess a part of where my thoughts are. :)  If I set `ExecutionOptions.ThrowOnUnhandledException` to `true`, I don't want to have to additionally filter `ExecutionResult.Errors`. (Had my opinion been wanted, I'd have advised that @jsantha should have just set `ThrowOnUnhandledException` to true and handled that internal exception server-side; there's no way

[2020-04-28 17:43] sungam3r commented on #1650
I was thinking that we are talking about client-side error-handling as well.

[2020-04-28 17:56] GrangerAts commented on #1650
No. I just want `ExecutionError` to always mean, "The client has to deal with this, not me".  If I want the client to have to deal with things that are my fault, I'd just set `ExecutionOptions.ThrowOnUnhandledException` to `false` (and in that case, I'd likely start caring about the `ExecutionOptions.ExposeExceptions` setting).  LOL.

[2020-04-28 20:53] sungam3r commented on #1641
How exactly _handled_? After all, you still need to give response to the client. Do you suggest doing it manually? Second, `ThrowOnUnhandledException = true` may terminate `ExecuteNodeAsync`  strategy method so execution of remaining request stops. I am sure that such behavior was not implied in the initial formulation of the question. The point was to hide some of `ExecutionResult` parts during s

[2020-04-28 22:35] GrangerAts commented on #1641
What I did was write a `FieldMiddleware` that would catch and handle exceptions. I'd then throw a new `ExecutionError` from there that had exactly what I felt comfortable telling the client about. GraphQL.Net would then put that into the `Errors` collection with the extra, magic "location" data. My default handling was just something that would indicate the server had an internal error (i.e. "500

[2020-04-29 09:22] sungam3r commented on #1641
Current defaults in 3.0.0-preview-XXXX: `ExposeExceptions = false`, `ThrowOnUnhandledException = false`. Could there be other defaults in version 2.4.0 which you use?

[2020-04-29 14:57] GrangerAts commented on #1641
I think those defaults are fine. I also think that the only other thing that presently can affect this situation is FieldMiddleware. (And my 3rd-paragraph rant/story completely ignored the fact that `ExposeExceptions = false` by default---in v2.4.0, and I presume has _always_ been that way.)

While I disagree with certain things about the GraphQL spec, I believe that those defaults encourage devel

[2020-04-29 22:33] GrangerAts commented on #1650
OK, so I have something to look at if/when someone has time. I expect that I've gotten a few things wrong; I don't know the GraphQL.Net code very well yet. Below is the first-draft of the method I'm intending to use. I also submitted a PR ( #1658 ) based on this, not expecting it gets merged but that it may make it easier/faster to review than looking through this method.

[code]

[2020-04-29 23:48] Shane32 commented on #1650
@GrangerAts I have another suggestion for you, which utilizes the existing codebase and does not require middleware:
1. Add a new class `MyExecutionError` that inherits from `ExecutionError`
2. Inside your graph resolvers, raise a `MyExecutionError` at any time when there is a "client side" error -- for example, when an invalid argument value is passed to a field resolver.
3. Set `ExposeExceptions

[2020-04-29 23:49] Shane32 commented on #1650
Personally I'd agree with your comments in general, namely that:
* `ExecutionError` (or a perhaps new class) should be reserved for "client" exceptions
* These "client" exceptions should always be passed to the client
* AST parsing errors should always be returned to the client
* A configurable property should configure if other exceptions are unhandled (thrown) or encapsulated
* It should be easy

[2020-04-30 00:35] Shane32 commented on #1641
`UnhandledExceptionDelegate` is new in v3.0

See #1164

`ExposeExceptions` and `ThrowOnUnhandledException` existed in 2.4.0

[2020-04-30 02:35] GrangerAts commented on #1650
Thanks for the suggestion. However, I expect that it will subvert client-side syntax errors from other fields.

For example, suppose someone sends a query asking for 3 fields where 1 field doesn't exist in the schema, 1 field supplies an invalid parameter value, and 1 that is perfectly valid. According to the Gql spec, they should get the "valid" field's result and 2 errors in the collection.  One

[2020-04-30 04:13] Shane32 commented on #1650
Right; because some ExecutionErrors are errors that should be returned.

[2020-04-30 06:02] sungam3r commented on #1641
@GrangerAts I added `UnhandledExceptionDelegate` in some 3.0.0-preview-XXXX . Well indeed it may be the thing you really need.

[2020-04-30 14:42] GrangerAts commented on #1641
It appears that it's not, though it's a useful addition to the library. My present solution calls for using `ThrowOnUnhandledException = true` plus a combination of .Net Core Middleware and Gql.Net FieldMiddleware, due to some extra complexities/requirements in the project I'm working within.

[2020-04-30 15:05] GrangerAts commented on #1650
I totally agree. That's why I'm hoping that in the future, people won't have to filter `ExecutionResult.Errors` in their controller/middleware. If they are OK with "server-side" errors being emitted, they use the Gql.Net defaults (unhandled exceptions get turned into `ExecutionError`, and "exception details" are not "exposed").

But if they need more fine-grained control for "server-side" errors,

[2020-05-04 09:22] wirmar opened #1661 "Support netstandard in the GraphQL.SystemTextJson package"
## Summary

Currently, the `GraphQL.SystemTextJson` package can only be used in dotnetcore3.0/3.1. However the `System.Text.Json` nuget package (https://www.nuget.org/packages/System.Text.Json/) supports netstandard as well. Would it be possible to allow netstandard (and framework) as target frameworks of the `GraphQL.SystemTextJson` package?

[2020-05-04 11:25] DiogoVCS opened #1662 "Is there a way to resolve a GraphQl type by referencing another type?"
Im using the Graphql .Net library to build a GraphQl API. The following is a domain example of what we currently have, where, the area has a list of sampling point identifiers:

[code]

And the types are defined as follow:

[code]

Is there any way to retrieving everything from the sampling point without changing the domain classes? there is an example in the conference [GraphQL vs Traditional Res

[2020-05-04 11:43] DiogoVCS commented on #1649
I dont think you need that last line in the Startup.cs....

Try to create a context class as follows:

[code]
and then in the controller create a new context: GraphQlUserContextDictionary

[code]
and then pass it to the _.UserContext in the ExecutionResult.
For accessing it from the Query do the following:

[code]

[2020-05-04 11:59] mrfoster commented on #565
I think @joeaudette's solution is a great workaround but ideally there would be something similar built in that allows code to be organized in a modular / feature driven way. A replacement to the current [Query Organization](https://graphql-dotnet.github.io/docs/getting-started/query-organization/) guidance that allows a complete separation.

[2020-05-04 15:19] sungam3r commented on #1661
@benmccallum It is strange that we did not notice this before.

[2020-05-04 15:37] benmccallum commented on #1661
Oh wow. I didn't know that package even existed... Nice one. And thanks for the suggestion @wirmar !

[2020-05-04 15:38] sungam3r commented on #1661
I moved to netstandard2.1 from netcoreapp3.0.

[2020-05-04 15:45] sungam3r commented on #1661
Oops, reverted.

[2020-05-04 15:59] #1661 closed

[2020-05-04 16:04] sungam3r commented on #1662
Thanks for the example, but from it I don’t understand what you want. I see two independent classes.

[2020-05-04 16:37] DiogoVCS commented on #1662
From the example in the video, which is in java, he can make a resolver for the class domain Post which has the authorId that made the post:

[code]
[code]
And he defines the type Post as:

[code]
and without changing the query and nothing on the domain (if there's a solution for this by altering the query, its fine, but the domain classes, must not be changed), i wonder if there's something simil

[2020-05-04 20:10] jhoward321 opened #1664 "New NuGet Release"
## Summary
Are there any plans soon to publish a new NuGet preview release? I am trying to use [this ](https://github.com/SimonCropp/GraphQL.Validation)library which requires a version that is only available via the MyGet feed. Unfortunately due to my build pipeline, it will not be an easy change to switch to using the MyGet feed. A new version (>= preview-1630) would make my life much easier and

[2020-05-04 21:42] sungam3r commented on #1662
Yes. You can always use any `Field()` overload on your GraphType, even if it is `ObjectGraphType<T>`. For example see [this](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Introspection/__EnumValue.cs#L18).

[2020-05-04 22:01] sungam3r commented on #1664
@joemcbride Could you please publish the latest preview or core package and both serializers?
![изображение](https://user-images.githubusercontent.com/21261007/81017740-cec6c780-8e6b-11ea-8960-d83c38b2486e.png)
Probably it's time.

[2020-05-05 00:11] joemcbride commented on #1664
This is done, should show up on Nuget.org after they fully upload + index.

[2020-05-05 00:11] #1664 closed

[2020-05-05 08:28] JKamsker opened #1666 "Flag-Enums are not serialized correctly"
## Description
Version Tag: v2.4.0
Corresponding Source file: https://github.com/graphql-dotnet/graphql-dotnet/blob/v2.4.0/src/GraphQL/Types/EnumerationGraphType.cs#L37

Havent tested the bug on the newest version but the bug could be also be there.

When an enum is serialized, which has several flags, graphql-net returns null.

My workaround was creating a class that derived from EnumerationGraph

[2020-05-05 08:40] wirmar opened #1667 "publish GraphQL-Parser 5.1.2"
## Description

The latest `GraphQL` version 3.0.0-preview-1648 (https://www.nuget.org/packages/GraphQL/3.0.0-preview-1648) depends on `GraphQL-Parser` >=5.1.2. However, the latest version of `GraphQL-Parser` is only 5.1.0.

### Actual result

`GraphQL` version 3.0.0-preview-1648 cannot be installed.

Relates to #1664

[2020-05-05 09:21] DiogoVCS commented on #1662
That was a really good example, @sungam3r , thank you that was exactly what i needed.

[2020-05-05 09:21] #1662 closed

[2020-05-05 14:02] sungam3r commented on #1666
This is not a bug. Once I asked myself this question and wanted to add support for flags enums. I gradually realized that this was impossible. .NET flag enum contradicts the concept of GraphQL enum. These are just two different worlds. Also If you read the [specification](http://spec.graphql.org/June2018/#sec-Enum-Value), then you will see that your implementation violates it.

[2020-05-05 14:04] sungam3r commented on #1666
@JKamsker @Shane32 I added this issue to the known issues.

[2020-05-05 14:17] sungam3r commented on #1667
Really. Either this version has never been published on nuget, or was unlisted.

@joemcbride Could you please publish? If you do not mind, then I myself could solve such issues if you give me the appropriate rights to publish.

[2020-05-05 16:06] joemcbride commented on #1667
Published that package.

[2020-05-05 16:10] joemcbride commented on #1667
@sungam3r I added you (through email) to MyGet.  Let me know if that access works.

[2020-05-05 16:13] Shane32 commented on #1666
A single flag enum in .Net could accurately be represented as a list of enums.  e.g. `ListGraphType<NonNullGraphType<MyEnumGraphType>>`. I don't know how practical it would be to include this conversion in the base graphql library.

Thanks @sungam3r for putting it in the known issues list.  I'll include this in the release notes.

[2020-05-05 16:55] sungam3r commented on #1667
Thanks. I received an email and logged into my account. There i see graphql-dotnet packages.

[2020-05-05 17:44] #1667 closed

[2020-05-05 18:10] sungam3r commented on #1666
Right. We can talk about some sort of conversions, maybe. But in general flag enums can never become graphql first-class citizens.

[2020-05-05 19:50] kenewbie opened #1668 "Inheritance of graph types"
I have a question about inheritance of graph types that I have been unable to solve. Imagine the following scenario:
[code]

My issue is that I have to redeclare the FooProp field in BarGraphType, which is just a minor annoyance in this example but when Foo has a lot of fields with resolver code etc it gets very attractive to have them in Foo only and not duplicate them in Bar.

So my question is,

[2020-05-05 20:17] Shane32 commented on #1666
Here's a snippet that could be used to convert enum flag fields to lists of graphql enum values:  (works for nullable or non-nullable types)

[code]
Since the serializer hasn't changed, there's no way to serialize two different flags that represent the same value, hence the reason for `.Distinct()`.  In the future perhaps this could be built into graphql, where any enum being converted to a list o

[2020-05-05 20:32] sungam3r commented on #1668
If you want to inherit from two different generic types the answer is NO. This is a limitation of the .NET type system, not GraphQL.NET. But you can always move field declarations inside some method and use this method in your type hierarchy. Also you can inherit from `AutoRegisteringObjectGraphType`.

[2020-05-05 20:43] sungam3r commented on #1666
It is very important. I was thinking tabout flag enums working on input and output. In the end, I came to the conclusion that I should not try since the resulting solution is very fragile and violates the GraphQL enums design. If someone needs to use flags, then he can do it with `ListGraphType<>`.

[2020-05-05 20:46] Shane32 commented on #1666
Sounds reasonable.  If we can come up with some solid workarounds (perhaps like the above), we can include it with the known issues / release notes, similar to the scoped dependency known issue.

[2020-05-05 20:52] Shane32 commented on #1666
Or, perhaps the helper functions can be provided within the graphql package, as they do not rely on third-party dependencies.

[2020-05-06 06:08] kenewbie commented on #1668
Yes I am aware of the limitations on multiple inheritance. I was hoping that there might be some variation of `ObjectGraphType<T>` that looks at the base of T, and if a GraphType is found that uses the base as a model then the fields from that are applied to the GraphType of T as well.

I'll take a look at the AutoRegistering version and see if that helps me.

[2020-05-06 06:37] sungam3r commented on #1668
Given `TDerived : TBase`

`ObjectGraphType<TDerived>` and `ObjectGraphType<TBase>` are not connected in any way. Generic parameter is only needed to provide expression configuration capabilities and typed resolvers.

[2020-05-06 11:55] KreativJos commented on #1668
Wouldn't your problem be solved if you'd make a generic base class, like this (note: written in free-hand, not tested):
`
public class Foo
{
    public int FooProp { get; set; }
}

public class Bar : Foo
{
    public int BarProp { get; set; }
}

public abstract class BaseFooGraphType : ObjectGraphType<T>
    where T : Foo
{
    protected BaseFooGraphType()
    {
        Field(p => p.FooProp);

[2020-05-06 13:24] kenewbie commented on #1668
Nice, I did not think of that.
Thanks for the feedback, I'll try that approach.

[2020-05-07 06:26] alfechner opened #1670 "Batching Queries"
Our frontend is React based and uses Apollo Client.

For performance reasons we wanted to leverage a feature called [batch processing](https://www.apollographql.com/docs/react/v3.0-beta/api/link/apollo-link-batch-http/). It basically batches together queries and sends them in one request to the server.

However, our graphql-dotnet based server seems not to be able to deserialize the JSON from the

[2020-05-07 07:08] alfechner commented on #1670
This feature seems to be available in the non-stable branch.

[2020-05-07 07:08] #1670 closed

[2020-05-07 13:30] sungam3r commented on #1670
Right.

[2020-05-07 21:38] Oliver2301 opened #1671 "Nested input graphtypes"
Hello,
Is there any documentation about create a mutation based a nested input graph types ?
{
     data {
        name,
        child {
        }
     }
}

[2020-05-08 10:14] kieranbenton opened #1672 "Unable to resolve services in UnhandledExceptionDelegate, preventing logging or using it to do anything useful"
## Description

Related to:
https://github.com/graphql-dotnet/graphql-dotnet/issues/1152

It is not possible to (at least easily) use UnhandledExceptionDelegate to resolve an ILogger<> (or any other service) and log out any exceptions that were thrown by execution. Without this capability UnhandledExceptionDelegate is pretty useless right now unfortunately.

If you can give me some pointers then I

[2020-05-08 11:35] sungam3r commented on #1671
Nesting for inputs no different from nesting for outputs. I see more information in your initial post which I received on my email:
[code]

`EventDateTimeType` **must** be input graph type too. Also I think that you use version 2.4.0. In one of the latest previews we added some checks to warn user about input/output inconsistency in nested types. Please read README.md and try the latest preview.

[2020-05-08 14:11] sungam3r commented on #1672
Whether or not it is easy to do depends on where you are trying. Consider this example:
[code]
You can find `GraphQLHttpMiddleware` in the [server](https://github.com/graphql-dotnet/server/blob/develop/src/Transports.AspNetCore/GraphQLHttpMiddleware.cs#L27) project.
The idea is not to resolve dependencies yourself but allow DI-container to do its work. Configuring delegate can be done from the pla

[2020-05-09 13:38] kieranbenton commented on #1672
I can see that would work as a work around - thanks for that, and I will probably do this now as its achievable.

I should have been more clear though - my example is using the 'default' middleware and I'm trying to configure UnhandledExceptionDelegate within my Startup.ConfigureServices method (which since .NET Core 3 can no longer have an ILogger; let alone any other dependency; injected into it

[2020-05-09 14:33] sungam3r commented on #1672
For what reason you can’t use inheritance? See one more [example](https://github.com/graphql-dotnet/server/blob/develop/samples/Samples.Server/GraphQLHttpMiddlewareWithLogs.cs).

In fact, this is happening. `GraphQLHttpMiddleware` already [resolves](https://github.com/graphql-dotnet/server/blob/develop/src/Transports.AspNetCore/GraphQLHttpMiddleware.cs#L133) services from `HttpContext.RequestServi

[2020-05-09 15:06] kieranbenton commented on #1672
There's no reason why I can't use inheritance, apart from it seems like overkill just to allow me to log execution exceptions out. Like I said above right now that is likely what I will end up doing now I know this isn't supported.

My argument is, that if this API exists on the default middleware and service registration helpers, then it should be usable. Right now it isn't, as you can't get acce

[2020-05-09 21:05] sungam3r commented on #1672
**What** should be removed?

[2020-05-09 22:43] sungam3r commented on #1672
@kieranbenton I think that https://github.com/graphql-dotnet/server/pull/360 is what you really want. Note that this method of providing `IServiceProvider` is better than introducing any new `.Services` property, since it does not affect other layers of API.

[2020-05-11 12:07] fenomeno83 commented on #576
see here!!! (2 parts)

https://stackoverflow.com/a/61726091/7520873

https://stackoverflow.com/a/61726161/7520873

[2020-05-11 12:23] markus27183 opened #1673 "how to see loaded schemas"
I just started working on a project that uses GraphQL, and I'm getting the error that a InsertSpecification class is not marked as InputType, but it is.  I'd like a way to query graphQL to get all the loaded schemas and their types.

[2020-05-11 14:34] sungam3r commented on #1673
Do you mean introspection? You can use GraphQL Playground, GraphiQL, Altair or any other UI tool. See here - https://github.com/graphql-dotnet/server
![изображение](https://user-images.githubusercontent.com/21261007/81573858-bac02000-93ad-11ea-8ef9-fed4f72aeb75.png)

[2020-05-11 14:47] markus27183 commented on #1673
I'll try this, which one is best?

On Mon, May 11, 2020 at 4:35 PM Ivan Maximov <notifications@github.com>
wrote:

[2020-05-11 17:55] sungam3r commented on #1673
All of them work well. You can install all and compare, it is just one line of code for each.

[2020-05-12 08:06] fenomeno83 commented on #648
Some months ago I created a .net core graphql project.

In the real-life, you need to tune the original library.

I want to share some tricks and common classes that help you to build a .net core graphql solution.

For example, I've created an automapper that automatically convert your dto model into a ObjectGraphType (output) and InputObjectGraphType (input).

But not only this.

For example you

[2020-05-12 08:42] kieranbenton commented on #1672
@sungam3r that PR is exactly what I was talking about - thank you.

[2020-05-12 12:04] kieranbenton commented on #1666
@Shane32 could you give me an example of how your input helper ```CombineFlags``` might be used? I'm struggling to get that working with a DTO of the underlying flag enum type.

[2020-05-12 12:59] sungam3r commented on #576
It looks like you (in some sort) reinvented `AutoRegisteringGraphType` class, `AddGraphTypes` extension method from server project and some DI classes from https://github.com/sungam3r/SteroidsDI

[2020-05-12 13:44] Shane32 commented on #1666
Something like this (untested):
[code]

[2020-05-12 14:52] kieranbenton commented on #1666
Thanks @Shane32  appreciate it. I have been trying to use it on a field that is part of an 'input' type which hasn't been very successful so far. Think I may have to just stop exposing that as a flag enum in general, its getting too messy.

[2020-05-12 15:00] Shane32 commented on #1666
As part of an input type, you should be able to define your input like this:
[code]
Note that you need to have an input model; you can't use the DTO object as the fields definitions don't line up.  After `GetArgument` then you can copy the values into your DTO model, combining the flags from the enumerable into a single field at that time.

[2020-05-12 15:02] kieranbenton commented on #1666
Thanks @Shane32 yes that makes sense - have been getting away without a model at the moment as they're 1:1 - time for that to change I think!

[2020-05-12 15:09] taimo42 opened #1674 "How do I use an interface in a field of another interface"
I'm currenty trying to migrate my code from the last released version 2.4.0 to version 3.0.0-preview-1490. But I'm a little bit stuck because of the following issue.

Let's say I have a class hierarchy like this:

[code]

And an appropriate structure in my graphql types:

[code]

So far so good. Everything is working fine. But now I want to use this in another hierarchy. So I have also the followi

[2020-05-12 15:13] Shane32 commented on #1666
For my own projects, I find that the DTO models can typically be the basis of "output graphs", but for input graphs, I almost always need to create a corresponding input model for each input graph.  I think this due to the fact that for an output graph, you can format/parse the data within the resolve parameter of each field, whereas input graphs simply represent a mapping to an input model, with

[2020-05-12 17:13] kieranbenton commented on #1666
Yes, that is my inference as well. There's less flexibility 'on the way in'. Thanks for the advice!

[2020-05-12 20:06] taimo42 commented on #1674
I think I found the PR which was changing this behavior. I guess it was #1469.
But would it then not be necessary to call `IsValidInterfaceFor` for interface types instead of just comparing the .Net types [here](https://github.com/graphql-dotnet/graphql-dotnet/blob/68be167176daab0f8791fc6c6db6821803e83cec/src/GraphQL/GraphQLExtensions.cs#L119)?

[2020-05-12 22:02] #1672 closed

[2020-05-12 22:22] sungam3r commented on #1666
it is realizable, I thought about it, but it will require a significant design changes

[2020-05-12 22:27] sungam3r commented on #1542
Closed due to inactivity.

[2020-05-12 22:27] #1542 closed

[2020-05-12 22:29] sungam3r commented on #1618
Closed due to lack of feedback.

[2020-05-12 22:29] #1618 closed

[2020-05-12 22:31] sungam3r commented on #1646
Feel free to reopen if you need more help.

[2020-05-12 22:31] #1646 closed

[2020-05-12 22:32] sungam3r commented on #1649
@aaron-c2 Did you manage to solve this issue?

[2020-05-13 00:57] OpenSpacesAndPlaces opened #1675 "Preview Targeting"
3.0.39-preview-39 is targeting 3.0.0-preview-1352 instead of 3.0.0-preview-1648.

I'm not able to binding redirect without a public token - is there another work around?

[2020-05-13 01:06] OpenSpacesAndPlaces opened #1676 "2.4 to Preview 1648 - AddField() Error"
System.ArgumentOutOfRangeException: 'Output type 'Query' can have fields only of output types: ScalarGraphType, ObjectGraphType, InterfaceGraphType, UnionGraphType or EnumerationGraphType. (Parameter 'fieldType')'

Previously this was working:
[code]

What should I be doing differently?

[2020-05-13 01:13] OpenSpacesAndPlaces opened #1677 "Branch with 2.4 source code"
Is it possible to post a branch with the GraphQL 2.4 source as well as a compatible copy of GraphQL.Authorization? I tried pulling master, but it's the preview version.

I'm trying to track down a bug inside the resolver  (returning [{}], but AsyncFieldResolver has data returning in the delegate).

Similar to this one from awhile ago where resolver errors need source code to trace down underlying

[2020-05-13 06:11] sungam3r commented on #1676
Everything is correct, additional checks were added in 3.0.0 to match the GraphQL specifications and  avoid unpredictable behavior in runtime.

[2020-05-13 06:13] sungam3r commented on #1676
See #1678

[2020-05-13 06:14] sungam3r commented on #1676
Because previous behavior was wrong.

[2020-05-13 06:17] sungam3r commented on #1675
3.0.39-preview-39 of what package?

[2020-05-13 06:20] sungam3r commented on #1677
I don’t think that someone will have the desire and time to do this and support two branches. You can fix the error in the preview version. Yes, migration is required.

[2020-05-13 09:37] aaron-c2 commented on #1649
Hi sungam3r. Yes, I've solved the problem now, apologies for leaving this hanging.

[2020-05-13 09:37] #1649 closed

[2020-05-13 13:32] OpenSpacesAndPlaces commented on #1675
Sorry:
https://github.com/graphql-dotnet/authorization

[2020-05-13 13:44] OpenSpacesAndPlaces commented on #1677
Maybe I'm misunderstanding something, but wouldn't there be a copy of whatever the final source was used to create the 2.4 nuget package?

[2020-05-13 18:40] joemcbride commented on #1677
@OpenSpacesAndPlaces Here's the 2.4 tagged release.

https://github.com/graphql-dotnet/graphql-dotnet/releases/tag/v2.4.0

[2020-05-13 18:55] joemcbride commented on #1675
@OpenSpacesAndPlaces I will work on getting a version out that targets the latest preview.

[2020-05-13 22:26] sungam3r commented on #1675
This issue should be transferred to auth project.

[2020-05-13 22:29] sungam3r commented on #1677
@OpenSpacesAndPlaces I meant that hardly anyone will be engaged in constant support of old versions. But you can fetch commit tagged as 2.4.0, fix something and build your private version.

[2020-05-14 01:21] OpenSpacesAndPlaces commented on #1677
That's what I was looking for - thanks much!

[2020-05-14 01:21] #1677 closed

[2020-05-14 20:52] fenomeno83 commented on #863
You can't use adddbcontext.
It means "scoped" if you use a classic web api.
But if you use inside graphql middleware that you register as singleton It will be instantiate just ad app startup!

Here a complete implementation of a solution with some extensions and tricks.
You have factory pattern for dbcontext.
And also an extension that created automatically dto models into objectgraphtype and inpu

[2020-05-14 22:04] johnnyoshika commented on #863
@fenomeno83 Thanks for your feedback. I'm trying to understand your comment here:

So this is the way I register my context using `AddDbContext`:

[code]

The scope is set as transient and a new one is generated on every query (see my example above). Is that still a problem? Isn't a new context used for every query this way? Perhaps not the most efficient, but threads and race conditions shouldn't

[2020-05-14 23:15] fenomeno83 commented on #863
If you inject dbcontext via DI, because it is inside graph singleton middleware, it will be instantiate only at /graphql request
Make this test:
put breakpoint in dbcontext constructor and make several request after start server. It will be fire once.

So you can't use services.AddDbContext
You need to use factory with Func<MyDbContext> and explicitally instantiate context
But no need to use trans

[2020-05-14 23:48] johnnyoshika commented on #863
@fenomeno83

In my code, I'm injecting a new factory that always returns a new DbContext. In your example, it looks like you're injecting a singleton Factory that always returns a new DbContext. Aren't they essentially the same, as you end up with a new DbContext every time the factory is called?

[2020-05-15 00:10] fenomeno83 commented on #863
Yes, maybe are the same.
You could use singleton in your factory.

[2020-05-15 01:15] johnnyoshika commented on #863
@fenomeno83

I think returning a singleton DbContext from the factory would be problematic, as DbContext is not thread-safe. That's why I'm (and also you) are returning a new DbContext from the factory every time. Does that sound right?

[2020-05-15 06:40] fenomeno83 commented on #863
Try this
services.AddSingleton<Func<MyDbContext>>(options => () => options.GetService<MyDbContext>());

Is factory Singleton, not dbcontext that you instantiate explicitally

[2020-05-15 07:18] johnnyoshika commented on #863
@fenomeno83 Thanks for the suggestion, but what is the benefit of making that change?

[2020-05-15 07:59] fenomeno83 commented on #863
That at first request you don't instantiate many times the factory

Il ven 15 mag 2020, 09:18 Johnny Oshika <notifications@github.com> ha
scritto:

[2020-05-15 08:00] fenomeno83 commented on #863
That at first request (and only at first) you don't instantiate many times the factory (many times how many is injected in your project)

[2020-05-15 10:04] fenomeno83 commented on #1310
Here a full working implementation using factory pattern to use dbcontext that solves parallel execution

I've implemented also an extension that autogenerates objectgraphtype and inputobjectgraphtype starting from dto model

https://github.com/graphql-dotnet/graphql-dotnet/issues/576#issuecomment-626661695

[2020-05-15 16:38] johnnyoshika commented on #863
@fenomeno83 Thank you for your suggestion. I changed my factory to a singleton.

[2020-05-16 21:53] sungam3r commented on #863
Guys, please look at #1310 and [this project](https://github.com/sungam3r/SteroidsDI). I will not repeat, there you may find the answers.

[2020-05-18 16:03] taimo42 opened #1681 "Dataloader in batch queries"
In my system the client is using a graphql server to get at the end individual values out of the database. So the client is of course not aware which values are stored in which database tables and now it is up to the server to use as less sql statements as possible to get the data.
Because of this I'm heavily using DataLoaders, which is working quite good (except the async issue which is already a

[2020-05-18 16:56] groege opened #1682 "Convert input object graph type directly from json string"
Is there a way to directly convert a json string using a InputObjectGraphType

Lets say I have an InputObjectGraph type:

DummyType : InputObjectGraphType<Dummy>
{
... omitted for simplicity
}

I want to do something like this:

string raw = '..some json data..';
Dummy dummy = XXX.Deserialize<Dummy, DummyType>(raw);

Or what is the fastest way to do something like this?

Cheers and thanks for the

[2020-05-19 00:56] bugged84 opened #1683 "Authorized query fields fail before query directives are evaluated"
The documented implementation for authorization in GraphQL .NET uses an `IValidationRule`. These rules are, of course, invoked before the execution strategy is invoked and, therefore, before the query directives are evaluated.

A client-side developer attempted to use the `@skip` directive to avoid fields which are not relevant to the current user. However, GraphQL .NET fails the query anyway sinc

[2020-05-19 08:27] KreativJos commented on #1683
It seems to me the validation rule should check for directives, if they should be skipped?

[2020-05-19 12:51] sungam3r commented on #1681
It is **theoretically** possible. Current behavior has been designed as it is specifically to be simple. Requests in batch are executed sequentially. I was thinking of doing this behavior from the start. This would require more code and it would be more complicated. In addition, questions arise with what will happen if mutations are mixed in with requests in batch if we are talking about parallel

[2020-05-19 13:21] sungam3r commented on #1683
It seems so. `ValidationContext.GetRecursiveVariables` may help.

[2020-05-20 01:52] OpenSpacesAndPlaces opened #1684 "Odd subfield resolver behavior"
I'm not sure if I just had not done many to many before or if somehow the Identity tables are slightly  different in definition that what I'd used in the past.

For a query like:
`query {   aspNetUsers_list {  id, email, aspNetUserClaims(ignoreClientWarnings: true){ userId,  claimValue} }}
`
[code]

Tracing through in Debug mode with source code instead of DLLs I noticed that prior to getting to t

[2020-05-20 01:55] OpenSpacesAndPlaces commented on #1676
I'm not sure if/when I'll get a chance to circle back to testing the preview version.
Closing this thread so it doesn't become a zombie.

[2020-05-20 01:55] #1676 closed

[2020-05-20 07:19] taimo42 commented on #1681
That's a pity.
But I can follow your argumentation. Well, I would for sure switch to serial execution when mutations are in the batch, but the error handling will be complex for sure.

Thank you nevertheless for this quick feedback.

[2020-05-20 14:01] OpenSpacesAndPlaces commented on #1681
@taimo42 I believe I ran into this same question awhile ago:
https://github.com/graphql-dotnet/graphql-dotnet/issues/1014

I found the best the current architecture allows for is a lookup per level of depth (vs. per item) - which for my use cases was fine. To-do it was a matter of having a field for QueryTableType for single objects and for ListGraphType. Then more/less having a single object reso

[2020-05-20 16:12] nivedhauswin opened #1686 "performance issue in creation of json Graphql"
I have created an author class and Graphtype. I have a list of authors on the server-side. If the client requests, I need to send all the authors. for now, I have created a dummy list of authors. I have added the code below.

**Question 1:**
I have some performance issues in JSON creation. JSON creation takes more time than creating dummy data. Is this possible? How to avoid such performance issue

[2020-05-20 17:32] sungam3r commented on #1684
Have you tried this on the current preview version? Honestly from your message I did not understand what is wrong.

[2020-05-20 18:29] sungam3r commented on #1686
Your test measures not just the time it took to create the json data (serialization), it measures the total query execution time. Without a doubt it is several times longer than the creation of author objects in memory.

In one of the latest 3.0.0-preview-XXXX versions we have added support for custom jsom serializers. Please, read README.md for details. System.Text.Json works better in most cases

[2020-05-20 18:31] OpenSpacesAndPlaces commented on #1684
No.

To hopefully clarify - at somepoint in the translation to the Execution Node - the SubField definitions are lost for the SubQuery, but the data is there in the Result. So then it just returns an empty object.

[2020-05-20 18:34] sungam3r commented on #1684
Are you talking about returning the wrong (empty) data set when it actually not empty?

[2020-05-20 19:27] OpenSpacesAndPlaces commented on #1684
`Are you talking about returning the wrong (empty) data set when it actually not empty?`
Yeah.

It's doing like:
[code]

Meanwhile "Result" has the Dictionary of data from the dataloader.

[2020-05-21 09:10] ooo2003003v2 opened #1687 "Can stop ToInputs auto converts IOS8601 string to datetime type"
Hello there. I had passed a IOS8601 format date into a service inside variables.
But after converting the variables to jobject using ToInputs() it became a datatime type instead of string. Can I stop it?

[2020-05-21 09:33] #1687 closed

[2020-05-21 11:02] sungam3r commented on #1687
So nothing to fix there? Did you solve this issue?

[2020-05-21 17:55] DrLeh opened #1688 "Cannot find constructor for Types.Schema that accepts IServiceProvider"
Using the latest package in NuGet for GraphQL, I'm trying to use dependency injection with my Schema like so:
[code]

However, I get an error that there is no overload accepting IServiceProvider. When I step into the definition of Types.Schema, I see the following definitions.

[code]

Do I have the wrong nuget package? Where can I find this overload?

[2020-05-21 17:59] sungam3r commented on #1688
latest _stable_ you mean

![изображение](https://user-images.githubusercontent.com/21261007/82590115-d1345b80-9ba5-11ea-8fee-250a2685eb8a.png)

Use the latest preview and please read README.md

[2020-05-21 20:01] DrLeh commented on #1688
Thanks. Every google search I found was saying to provide that. Wasn't expecting official documentation to talk about unreleased versions.

[2020-05-21 20:01] #1688 closed

[2020-05-21 21:49] sungam3r commented on #1682
What is `Dummy` and how does it correlate with `DummyType` ?

[2020-05-21 22:00] sungam3r commented on #1688
This is not unreleased versions, this is preview published versions.

[2020-05-22 02:22] nivedhauswin commented on #1686
@sungam3r So should I use ScalarGraphType?

[2020-05-22 07:53] karrocon opened #1691 "Simplifying Relay-based servers"
## Summary

(Ongoing PR: #1690)

As of now, it is quite annoying to orchestrate a GraphQL Relay-based server without having to create a lot of extra code. This is why I suggest including a new DataLoader (e.g. RelayDataLoader) to handle the page requests. Also, since EF Core is a natural match for the infrastructure layer of GraphQL servers, I have also implemented an extension method to relieve t

[2020-05-22 20:36] sungam3r commented on #1686
I do not understand your question.

[2020-05-23 00:05] RoarkeRandall opened #1692 "Enum Argument types don't seem to be supported."
## Description

Unable to use enumeration type as query argument

### Steps to reproduce

Create an enum type:

[code]

referencing an actual enum:

[code]

try to use it in a query:

[code]

### Expected result

graphiql should be able to get schema information

### Actual result

The following error occurs when inspecting the schema:

[code]

### Environment

version 2.2.0 on dotnet core (on mac

[2020-05-23 00:09] joemcbride commented on #1692
It looks like you're doubling up on `EnumerationGraphType<T>`.  Try the following change:

[code]

[2020-05-23 00:14] RoarkeRandall commented on #1692
Thanks for the quick reply, trying that I get the following error:

[code]

Im unsure if that's a client side or server side error

[2020-05-23 03:33] nivedhauswin commented on #1686
[code]
I tried this. There is improvement in performance. In this how can I make Subselections?. like

[code]

[2020-05-23 03:43] nivedhauswin commented on #1686
[code]
I tried this. There is an improvement in performance. is this what you meant?

[2020-05-23 10:17] sungam3r commented on #1692
What version of GraphQL.NET do you use? Please try to switch to the latest preview.

[2020-05-23 13:09] nivedhauswin commented on #1686
@sungam3r actually I am new to this. I have just started learning graphQl. my question might be silly.

[2020-05-23 13:47] sungam3r commented on #1686
No. I mean you can use S.T.J. for the whole server serialization/deserialization activity, not inside custom scalars. See [this](https://github.com/graphql-dotnet/server/blob/develop/samples/Samples.Server/Startup.cs#L56) example.

[2020-05-23 14:55] nivedhauswin commented on #1686
sorry. But I am just a beginner. I have started practicing Grapgql in a normal console application only. I have to not created API till now. could you please tell who to do in console application.

[2020-05-23 17:35] sungam3r commented on #1686
Use [this class](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL.SystemTextJson/DocumentWriter.cs) to obtain json response from `ExecutionResult`.

[2020-05-23 19:46] michal-ciechan commented on #1518
Did this ever get an answer? I am trying to figure out the same. Trawling through the docs last half hour, no luck... Need a `schema` file/definition to pass into relay-compiler

[2020-05-23 19:47] michal-ciechan commented on #888
@SimonCropp may I ask how do you get the Schema file out of a "Schema" object? Is it hand written?

[2020-05-23 21:05] sungam3r commented on #1518
https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Utilities/SchemaPrinter.cs

[2020-05-23 21:35] michal-ciechan commented on #1518
Shall I write a section for it in docs and PR? I think it is worth adding a "Print Schema" with a sample of using this code, in case someone else has this issue. It seems like more and more tools are using these schemas to scaffold client-side code.

[2020-05-23 21:37] michal-ciechan commented on #888
Just for anyone stumbling upon this, I ended up using `graphql-cli get-schema` in the node world.

See this SO Answer [Get GraphQL whole schema query](https://stackoverflow.com/a/42010467)

[2020-05-23 21:39] michal-ciechan commented on #1518
Just for anyone stumbling upon this, I ended up using `graphql-cli get-schema` in the node world.

See this SO Answer [Get GraphQL whole schema query](https://stackoverflow.com/a/42010467)

Might potentially be easier if you are using GraphQL in the node/web world anyway (e.g. I am using react-relay)

[2020-05-23 21:56] sungam3r commented on #1518
@michal-ciechan PRs are welcome. Just make sure this is not really in the current documentation.

[2020-05-26 13:39] nivedhauswin commented on #1686
```.AddSystemTextJson(deserializerSettings => { }, serializerSettings => { })```
Error : 'IGraphQlBuilder' does not contain a definition 'AddSystemTextJson' ad no accessible extension method 'AddSystemTextJson' accepting a first argument of type 'IGraphQlBuilder' could be found.
And use ```GraphQL.SystemTextJson```
To avoid this the only way I should install .net core 3 right? for both the case?

[2020-05-26 16:14] nivedhauswin commented on #1686
[code]

[code]

It shows error. which is I should use .net core 3. right? where should I add SystemTextJson.SchemaExtensions in the code? That will return the System.Text.Json serialization right?

[2020-05-26 21:02] itabaiyu commented on #1649
I'm actually running into this same issue and can't quite resolve it. @DiogoVCS what you described uses the GraphType first approach and doesn't solve the problem that was initially posted. Here is some mock code to describe what I'm facing:

Schema:
[code]

Query.cs:
[code]

Controller code:
[code]

With the above code, `ResolveFieldContext` is always null. Am I missing anything here?

[2020-05-26 21:28] RoarkeRandall commented on #1692
I tried 2.2.0 & 2.4.0 with no luck. The previews don't build for me due to the breaking changes. It looks like some significant refactor work. Not sure if I'll be able to get to that now.

[2020-05-27 04:03] nivedhauswin commented on #1686
[code]
Is this correct?

Error : Severity	Code	Description	Project	File	Line	Suppression State
Error	CS7036	There is no argument given that corresponds to the required formal parameter 'value' of 'DocumentWriter.WriteAsync<T>(Stream, T, CancellationToken)'

[2020-05-27 10:23] sungam3r commented on #1686
I see `IDependencyResolver` in your sample. That means you use **old** version 2.4.0. Please use the latest 3.0.0-preview-XXXX.

[2020-05-27 12:40] sungam3r commented on #1649
https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Reflection/ReflectionHelper.cs#L85

Change `ResolveFieldContext` to `IResolveFieldContext`. Some time ago we introduced this interface and split context to different implementation types.

[2020-05-27 12:48] sungam3r commented on #1649
I mean that actual resolve context type **is not** `ResolveFieldContext`. It is likely `ReadonlyResolveFieldContext` so changing argument type to `ReadonlyResolveFieldContext` should work too.

[2020-05-27 12:55] sungam3r commented on #1692
Well, I can say you with confidence that GraphQL.NET supports enum arguments. There are a lot of tests in solution to verify that. Now it will be problematic to deal with your question using 2.4.0 version.

Yes, 3.0.0 introduces some breaking changes. I can help you migrating to the latest preview. In fact, the current preview version is much more stable than 2.4.0, many bugs were fixed.

[2020-05-27 19:28] RoarkeRandall commented on #1692
<img width="1426" alt="Screen Shot 2020-05-27 at 12 07 02 PM" src="https://user-images.githubusercontent.com/6657263/83061973-b5501000-a012-11ea-83cd-0a8962fe2203.png">

Here's the errors I end up with after a bit of refactoring. It was mostly switching imports around and updating `ResolveFieldContext` to `IResolveFieldContext`

The main issue seems to be around how we were executing our query:

[

[2020-05-27 23:16] sungam3r commented on #1692
Change `IDependencyResolver` to `IServiceProvider`. Existing documentation contains it.

[2020-05-27 23:17] sungam3r commented on #1692
https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/getting-started/dependency-injection.md

[2020-05-28 16:15] JKamsker opened #1696 "Extend IDataloader with metadata"
## Summary
Add optional metadata to each IDataLoader.Load for better queries.

### Basic example
Copied from [Examples](https://graphql-dotnet.github.io/docs/guides/dataloader#examples)
[code]

### Motivation

Currently the Dataloader only supports keys to be added and queried to/from the queue.
Additional query data can only be injected by creating a specific wrapper object which implements  "ICo

[2020-05-28 17:18] itabaiyu commented on #1649
Thanks @sungam3r  that worked. It would be great if someone could update the docs with an example of getting context into resolver methods for the schema-first approach. I looked through them and wasn't able to find anything. Apologies if it's already there and I missed it somehow.

[2020-05-28 19:03] RoarkeRandall commented on #1692
Sorry, my comment wasn't clear. I can handle the DI stuff. I was looking for advice about the removal of `DocumentWriter`. The examples show doing something like this:

[code]

however, I get the following error:

[code]

[2020-05-28 19:23] sungam3r commented on #1649
@Shane32 Would you like to update docs with that info?

[2020-05-28 19:28] Shane32 commented on #1649
Well, I've never used the schema-first approach.  I'd feel better if you updated the existing docs, and I'll see what you changed and include applicable notes in the upgrade docs.

[2020-05-28 19:32] Shane32 commented on #1649
Or if you want to give me a little direction as to where you feel the additional documentation should be added, I can take a stab at it.

[2020-05-28 19:34] sungam3r commented on #1692
You need a `IDocumentWriter` to write lson response back.
dotnet add package GraphQL.SystemTextJson
or
dotnet add package GraphQL.NewtonsoftJson

Then use `DocumentWriter` class. The name is the same for both packages.

[2020-05-28 19:39] itabaiyu commented on #1649
@Shane32 I can make a PR to update the docs tonight, if I have permission to do so.

There should be a schema-first example side by side with the other user context info [here](https://graphql-dotnet.github.io/docs/getting-started/user-context/).